[2018-06-08 21:08] andrew2net opened #1 "RFC bib model"
@ronaldtse do we have RNG grammas for RFC bibliographic item?

[2018-06-09 02:36] ronaldtse commented on #1
@opoudjis could you help extend the current one for IETF documents? I suppose we should model it according to the attributes given in `<reference>` of RFC XML v3.

[2018-06-11 23:24] opoudjis commented on #1
So, RFC XML already has a serialisation, as captured in https://tools.ietf.org/html/rfc7991 for the `reference` element. I take it this request is to express RFC in the isobib model. I *hope* this is for the purposes of citing RFC etc in ISO, and not in RFC, since the roundtrip is kinda silly.

OK, I'll get to mapping.

[2018-06-11 23:25] ronaldtse commented on #1
Certainly it is for expressing RFC in the `<bibitem>` model: it should be used in any metanorma documents, including ISO, CSD, CSAND, etc.

[2018-06-12 10:10] andrew2net commented on #1
@ronaldtse @opoudjis could we use XML from https://www.rfc-editor.org/refs/bibxml/reference.RFC.8341.xml for example? So we don't have to make model class and serialization, just get the XML document and include it to asciidoctor-gb output.

[2018-06-12 10:54] ronaldtse commented on #1
No, the point is we need to translate from the IETF Bib XML format to the Relaton data model format. Asciidoctor-gb will not (and should not) understand the IETF format.

[2018-06-12 12:58] opoudjis commented on #1
There may be refinements down the road, but this is an attempt to map all of the RFC XML to be found in the RFC references into IsoXML.

[code]

[2018-06-20 23:38] opoudjis commented on #1
@andrew2net, I'm trying to introduce release notes into all Metanorma gems, now that they are starting to be used in production. If you bump one of your gems related to Metanorma, please create a release with notes that summarise all changes, and link to related tickets. This issue is now linked to https://github.com/riboseinc/iso-bib-item/releases/tag/v0.1.7

[2018-06-21 02:56] ronaldtse commented on #1
@opoudjis are we going to do an XSLT or a Ruby implementation for RelatonXML to RFC BibXML?

[2018-06-21 20:08] andrew2net commented on #1
@opoudjis it could be several `reference/front/seriesInfo`. So, how we shoud assign multiple `series@info` to one `bibitem@type?
[code]

[2018-06-23 03:12] opoudjis commented on #1
RFC has an idiosyncratic way of dealing with seriesInfo, it encodes two different pieces of information. I will summarise later today.

[2018-06-23 10:19] opoudjis commented on #1
We have two versions of RFC XML, unfortunately: v2 https://tools.ietf.org/html/rfc7749 and v3 https://tools.ietf.org/html/rfc7991#section-2.47. The v2 tags are included as v3 as deprecated elements, and I have included both in the mappings above.

The RFC XML currently on https://xml2rfc.tools.ietf.org/public/rfc/bibxml is RFC XML v2. In fact, support for v3 is still quite poor, and v3 may yet be

[2018-06-23 10:19] #1 closed

[2018-06-23 10:36] opoudjis commented on #1
Found an instance where an item is actually cited as belonging to two different series by two different organisations:

https://xml2rfc.tools.ietf.org/public/rfc/bibxml2/_reference.ITU.X530.2001.xml

[code]

That is.... annoying. I think we really do have to model this as two distinct `series` elements in the bibitem. But the issue of ambiguity of seriesInfo@status does not arise in these: seriesI

[2018-06-28 01:51] ronaldtse opened #2 "Citing Internet Drafts `draft-*`"
Other than IETF RFCs, we also need to cite IETF Internet-Drafts (documents with name `draft-*`).

As described here: https://xml2rfc.tools.ietf.org/

Both links work, probably use the latter one:
* http://xml2rfc.ietf.org/public/rfc/bibxml3/
* http://xml2rfc.ietf.org/public/rfc/bibxml-ids/

Examples:
* http://xml2rfc.ietf.org/public/rfc/bibxml3/reference.I-D.example-name.xml
* http://xml2rfc.ietf.

[2018-06-28 01:53] ronaldtse opened #3 "Absorb RFC bib fetching / caching / citation functionality from `asciidoctor-rfc`"
We're going to move all these functionalities into this gem.

Re: https://github.com/riboseinc/asciidoctor-rfc/issues/104

[2018-06-29 11:16] andrew2net commented on #2
@ronaldtse as I understand we need fetching not only documents with a name `draft-*` but also., all  `reference.I-D.example-name.xml` documents, do we?
So the difference between RFC code `RFC.example-name` and Internet-Drafts code `I-D.example-name` in their prefixes (RFC or I-D).

Suggest if we call search with RFC prefix
[code]
then the RfcBib retrieves  IETF RFC. If call search with I-D prefix

[2018-06-29 16:39] ronaldtse commented on #2
The `draft-*` documents are identical to `I-D.*` documents, so we just need to recognize them properly to fetch them. We can use separate RegEx patterns to match these.

We should be a relaton gem (https://github.com/riboseinc/relaton) that allows registration of each type of bib-item gem (i.e. relaton-iso, relaton-rfc, relaton-gb, etc) , and when you do a `Relaton.search 'RFC 8341'` will return a

[2018-06-29 17:15] andrew2net commented on #2
@ronaldtse
1. yes we could create the `relation` gem which recognizes a type of document and fetch using appropriated `relation-*` gem.
2. I think we could rename `*bib` gems but should keep them separated.

[2018-06-29 18:24] ronaldtse commented on #2
1 & 2 both agree. Thanks!

[2018-07-04 17:48] #2 closed

[2018-07-18 14:11] opoudjis opened #5 "Integrate into relaton"
And Asciidoctor-ISO

[2018-07-21 19:56] andrew2net commented on #5
done it

[2018-07-21 19:56] #5 closed

[2018-07-22 14:06] opoudjis commented on #5
Not quite; at a minimum, from_xml will need to be inherited, and adjusted to any RFC XML specific adjustments made for GbBibliographicItem.

[2018-09-05 16:50] ronaldtse opened #7 "Gem name should be ietfbib not rfcbib"
This gem also fetches I-D references, not only RFCs.

[2018-09-06 01:06] opoudjis opened #8 "Make URL processing more robust"
* If code points to document that does not exist, return null rather than crashing: "In addition, we should be parsing the “XXXX” part of “RFC XXXX”, make sense of it first, before we fetch the URL. And any failure in fetching should not crash the gem. Yesterday it had an URL with a space in it and the HTTP class raised an error, which RFCBib did not catch and it crashed the whole chain."

[2018-09-06 01:11] opoudjis opened #9 "Expand rfcbib coverage beyond ID, RFC?"
Not a given, but: xml2rfc.ietf.org/public/rfc hosts a bunch of other specifications' bibliography: W3C, XSF, IEEE, Miscellaneous. They are not exhaustive lists of references from those specs. Should we offer the option of retrieving references from those specs as well?

[2018-09-08 04:05] #8 closed

[2018-09-09 23:02] opoudjis commented on #7
Updated gemspec to indicate deprecation of rfcbib. Waiting on @ronaldtse to rename github repository.

[2018-09-09 23:38] #7 closed

[2018-11-30 04:39] ronaldtse opened #10 "Use XML2RFC site for fetching RFC bibliographic data"
https://github.com/riboseinc/ietfbib/blob/17ebec4daf1db373ee71e632dcac244f6efc6406/lib/ietfbib/scrapper.rb#L13

Why don't we use `https://xml2rfc.tools.ietf.org/public/rfc/bibxml-ids/reference.RFC.nnnn.xml` to fetch XML RFC bibliography instead?

(such as, https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.0001.xml)

Related to: https://github.com/riboseinc/metanorma-standoc/issues/27#

[2018-11-30 10:47] andrew2net commented on #10
@ronaldtse I don't remember. Looks like it was able to find RFC documents using `https://www.rfc-editor.org/refs/bibxml/reference.CODE` and I-D using `https://xml2rfc.tools.ietf.org/public/rfc/bibxml-ids/reference.CODE` only. Maybe something changes since there. It uses the same parser for both links, so you can replace `https://www.rfc-editor.org/refs/bibxml/reference.CODE` with `https://xml2rfc.

[2018-11-30 18:06] ronaldtse commented on #10
@andrew2net thanks. In this case could you help make the change?

[2018-11-30 20:30] andrew2net commented on #10
@ronaldtse changed it

[2018-12-01 04:12] opoudjis commented on #10
Confirmed.

[2018-12-01 04:12] #10 closed

[2018-12-01 07:11] ronaldtse commented on #10
Can we have a release for this? Thanks @opoudjis

[2019-02-22 09:10] ronaldtse commented on #9
@opoudjis all the non-IETF bibliographic references are incomplete and often outdated. I prefer we don't touch those. In particular, W3C and IEEE ones can be retrieved authoritatively elsewhere. Would be a matter of W3Cbib and IEEEbib.

[2019-02-22 09:10] #9 closed

[2019-03-07 07:49] opoudjis opened #11 "Migrate this repository to github.com/metanorma"
The repository github.com/metanorma has been set up to host all Metanorma related work. This is one such piece of work. While the migration will be slow (there is a lot to do, and a lot of interdependencies), we need to schedule migration for all related repositories.

Migration to Metanorma:

* Repost the repository to http://github.com/metanorma/X
  * This should be as simple as changing the fol

[2019-03-07 13:59] andrew2net commented on #11
@ronaldtse should I work on it?

[2019-03-07 14:37] ronaldtse commented on #11
Yes please!

[2019-03-09 11:04] opoudjis commented on #11
@ronaldtse has not migrated this particular repository yet, have alerted him to.

[2019-03-09 12:01] andrew2net commented on #11
@opoudjis looks like you migrated it.

[2019-03-10 02:35] ronaldtse commented on #11
Looks like it, @opoudjis if not please re-open it.

[2019-03-10 02:35] #11 closed

[2019-03-23 01:33] opoudjis opened #13 "Appveyor not working on Ruby 2.3"

[2019-03-23 07:47] CAMOBAP commented on #13
@opoudjis We have precedent here https://github.com/metanorma/isobib/issues/39 , so maybe we should not fix it at all

@ronaldtse please confirm

[2019-04-03 11:47] CAMOBAP commented on #13
Done

[2019-04-03 11:47] #13 closed

[2019-04-07 23:49] ronaldtse opened #16 "Build failing on AppVeyor Ruby 2.3 and Ruby head"
Build: https://ci.appveyor.com/project/ribose/ietfbib/builds/23658405

Can we either fix them, or ignore these test results on AppVeyor?

[2019-04-08 06:15] CAMOBAP commented on #16
For now all Ruby head build for all repos don't work on Appveyor,

@ronaldtse  should we fix it https://github.com/metanorma/metanorma-build-scripts/issues/2

Regarding 2.3 there is some instability, I will check

[2019-04-08 06:50] ronaldtse commented on #16
Yes please help fix this issue by disabling AppVeyor `trunk`. Thanks!

[2019-04-14 05:36] opoudjis opened #17 "Add missing fields to IETFBib::Scrapper::bibitem"
I've released iso-bib-item, but that means that the relaton and metanorma-standoc rspec now is failing on ietfbib, because mandatory fields such as script are not supplied. Could you patch those missing fields in, and I can then do a release of ietfbib?

[2019-04-14 17:48] andrew2net commented on #17
@opoudjis I will do it tomorrow.

[2019-04-14 21:20] CAMOBAP commented on #16
Fixed

[2019-04-14 21:20] #16 closed

[2019-04-15 11:15] andrew2net commented on #17
@opoudjis in https://github.com/metanorma/metanorma-model-iso/blob/master/grammars/ietf.rnc we have ` (btitle+ | formattedref)`, `copyright` and `editorialgroup` mandatory fields only. I added `script` field with "Latn" value. What value should we use for `copyright` and `editorialgroup` fields?
[code]

[2019-04-20 09:49] opoudjis commented on #17
For copyright, the copyright holder is the IETF. Strictly speaking, the copyright statement is:

[code]

so:

[code]

There are distinct editorial groups for different RFC publications, the workgroup that each publication belongs to; but that information is not included in the online bibliographies.

With some reluctance, I'm making the editorialgroup optional in the grammar. Don't populate it for

[2019-05-12 11:17] opoudjis opened #18 "bibdata refactor changes"
This issue overlaps with #17, and supersedes it

The following changes impact this gem, as elements moved to bibdata/ext from bibitem. All elements specific to IETF must be populated in bibdata/ext; please ask me if there are any changes not covered in the following.

The grammar of ext is:

[code]

* The type of standard, e.g. "rfc", is no longer set in `bibitem/@type`. It is now set in `bibdata/

[2019-05-28 07:11] opoudjis commented on #18
From #17: do not populate editorialgroup in this gem.

[2019-05-28 07:12] opoudjis commented on #18
From #17: The copyright statement is:

[code]

[2019-05-28 07:12] #17 closed

[2019-06-05 12:10] #18 closed

[2019-06-11 11:29] andrew2net opened #20 "Parse a file locally"
download this file https://github.com/usnistgov/ACVP/blob/master/src/draft-celi-acvp-sha-00.xml, and use `relaton-ietf` to create the relaton XML
[code]

[2019-06-11 11:48] ronaldtse commented on #20
@andrew2net thanks for posing.

BTW, this name spacing is a bit strange: `Relaton::RelatonIetf`. Why can't we just have `Relaton::BibProvider::Ietf` or something like this? (`BibProvider` or `Provider` for bibliography information provider)

[2019-06-11 12:31] andrew2net commented on #20
@ronaldtse the `relaton-ietf` gem has a `RelatonIetf` namespace, and we have an `IetfBibliography` module in the namespace which searches and gets documents.
`Relaton` is a namespace of `relaton` gem.
I think we should create the parser in `relaton-ietf` gem. Do you want to use `relaton`'s namespace in `relaton-ietf`?

[2019-06-11 13:05] ronaldtse commented on #20
`relaton-ietf` gem implies `Relaton::Ietf` namespace. `relaton_ietf` implies `RelatonIetf`.

For example, `require 'relaton-ietf'` can load `relaton/processor/ietf.rb` and `ietf_bibliography.rb`.

I want to use `Relaton` namespace rather than `RelatonIetf`.

[2019-06-13 13:27] andrew2net commented on #20
@ronaldtse [document](https://github.com/usnistgov/ACVP/blob/master/src/draft-celi-acvp-sha-00.xml) doesn't have `/reference[@anchor, @target]` element.
[code]
 It has `/rfc[@category, @docName, @ipr]` instead.
[code]
We get `id` form attribute `@anchor` and `link` form attribute `@target`. We can ommite `link`. Could we use `@docName` attribute as `id`?

[2019-06-13 16:31] ronaldtse commented on #20
Ahhh right. RFC XML is different from RFC BIBXML — BIBXML (our term for it) is part of RFC XML.

Yes, we can take the docName as document ID, it is the correct attribute.

[2019-06-13 16:45] #20 closed

[2019-06-13 16:51] ronaldtse commented on #20
@andrew2net could you also let me know how to use this from a CLI perspective? Maybe in `relaton-cli`. Thanks :wink:

[2019-06-13 18:44] andrew2net commented on #20
@ronaldtse see it here https://github.com/metanorma/relaton-ietf#parse-a-file-locally

[2019-06-13 20:56] ronaldtse commented on #20
@andrew2net could you help make this function available via Relaton CLI?

It currently supports `extract` functionality of a file and also of directories:
https://github.com/metanorma/relaton-cli#relaton-extract

[2019-06-24 08:52] ronaldtse opened #21 "When the remote server cannot be contacted, do not crash (this applies to all Relaton gems)"
When the remote server cannot be contacted, do not crash (this applies to all Relaton gems)

This is what happens to Relaton IETF when the server can't be contacted.

@andrew2net please also ensure this fix applies to all Relaton gems. We should throw an appropriate error instead.

[code]

[2019-06-24 08:54] ronaldtse commented on #21
To another extent, @opoudjis , if remote reference retrieval fails, Metanorma should not crash but continue the rendering.

[2019-06-24 11:03] #21 closed

[2019-06-25 08:41] opoudjis commented on #21
metanorma-standoc/spec/asciidoctor-standoc/refs_spec.rb:  it "process ISO reference without an Internet connection" do...

[2019-06-26 11:58] andrew2net opened #22 "Raise an error when a request fails"
When a request fails the `relaton` saves `not_found` in its cache.
It needs to raise an error to avoid saving anything in cash and pass an error message to gems depended on the `relaton-ietf`

[2019-06-26 14:18] #22 closed

[2019-07-04 10:06] ribose-jeffreylau opened #24 "Support fetching BCP"
It would be good to have support for BCP.

## Symptoms

Currently, searching for BCP would fail:

[code]

## Example source documents

- IETF BCP 47: https://tools.ietf.org/html/bcp47

[2019-07-04 10:07] ronaldtse commented on #24
@ribose-jeffreylau agree!

[2019-07-10 15:19] andrew2net commented on #24
@ronaldtse we get RFC documents in XML format: https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.8341.xml
IETF BCP 47 https://tools.ietf.org/html/bcp47 is in text format. Is it possible to get BCP documets in XML format?

[2019-07-10 16:18] ronaldtse commented on #24
The list of BCPs can be found here:
https://www.rfc-editor.org/search/rfc_search_detail.php?page=All&rfc=bcp

Unfortunately I don’t think they have XML for them, but we can find the RFC numbers of them in the list. There is also the HTML version we can fetch and scrape the necessary information from, hopefully.

[2019-07-10 16:39] andrew2net commented on #24
HTML version contains data in a plain text. It is hard to parse a plain text.
So every BCP document has related RFC number, does it? Does it mean we can parse [RFC 4647](https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.4647.xml) instead [BCP 47](https://tools.ietf.org/html/bcp47)?

[2019-07-10 16:47] ronaldtse commented on #24
Good question. I think we should parse the BCP page directly.

Some BCPs are a single RFC, but some BCPs have multiple RFCs.

For example, BCP 222 is composed of two RFCs: RFC 8552 and RFC 8553.

Here's the BCP page for BCP 222: https://www.rfc-editor.org/info/bcp222

<img width="900" alt="Screen Shot 2019-07-11 at 12 44 26 AM" src="https://user-images.githubusercontent.com/11865/60987854-0a405480

[2019-07-10 16:54] andrew2net commented on #24
But there is also RFC 5646 related to BCP 47. Which one should we parce RFC 4647 or RFC 5646?

[2019-07-10 17:04] ronaldtse commented on #24
BCP 47 page: https://www.rfc-editor.org/info/bcp47

It indicates that BCP 47 is composed of two RFCs, 4647 and 5646.

<img width="911" alt="Screen Shot 2019-07-11 at 1 02 47 AM" src="https://user-images.githubusercontent.com/11865/60989097-9fdce380-a377-11e9-8284-3404ff73029d.png">

When you click on "Cite this BCP", it gives:

[code]

We have to parse both RFC XML files to obtain this data.

[2019-07-11 09:26] andrew2net commented on #24
@ronaldtse I looked through [BCP 47](https://www.rfc-editor.org/bcp/bcp47.txt), [RFC 5646](https://www.rfc-editor.org/rfc/rfc5646.txt), and [RFC 4647](https://www.rfc-editor.org/rfc/rfc4647.txt). Seems BCP 47 is just the text of RFC 5646 followed by the text of RFC 4647.
So we can fetch all needed data from https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.5646.xml and https://xml2rfc

[2019-07-11 10:13] opoudjis commented on #24
You're not going to like the answer I give, Andrej.

BCP 47 may consist of two RFC texts, but it is itself a single reference. It is a single document, and should be cited as a single document. And citing it as a collection of documents is unhelpful, because that collection still must have a single title, and a single identifier.  And any renderer of the citation is going to look for a single titl

[2019-07-11 10:44] andrew2net commented on #24
@opoudjis It seems BCP 47 doesn't have its own title. The [text](https://www.rfc-editor.org/bcp/bcp47.txt) has 2 titles from both RFCs. Should we concatenate the 2 RFCs titles in one string?

[2019-07-11 16:44] #24 closed

[2019-07-15 00:00] opoudjis opened #25 "No longer parsing DOI identifiers?"
In rspec of metanorma-standoc, I notice that you are no longer retrieving the DOI identifier:

metanorma-standoc, spec/asciidoctor-standoc/refs_spec.rb, line 396:

[code]

Is this a deliberate choice? If not, the DOI docidentifier should be restored.

[2019-07-15 10:09] andrew2net commented on #25
It was from beginning. I don't remeber why.
https://github.com/metanorma/relaton-ietf/blob/46fd3f0c931a10d860ed83cd92fb707ea5df975e/lib/relaton_ietf/scrapper.rb#L212

[2019-07-31 15:38] andrew2net opened #27 "Extend hash to biblio mappers"
This is part of the Relaton YAML refactor. https://github.com/metanorma/relaton-bib/issues/7

[2019-08-02 14:23] opoudjis opened #28 "Add place of publication"
Because of https://github.com/metanorma/metanorma-ogc/issues/46, please add `<place>Fremont, CA</place>` to all records generated by Relaton (in the right place in the XML, of course.)

[2019-08-02 15:13] #27 closed

[2019-08-03 12:57] opoudjis commented on #25
As far as I can tell, you have just fixed this. Close if so.

[2019-08-05 09:28] #25 closed

[2019-08-06 14:22] andrew2net opened #29 "Catch OpenSSL::SSL::SSLError"
To solve the issue https://github.com/metanorma/relaton/issues/49 we need to add OpenSSL::SSL::SSLError to rescue.

[2019-08-06 14:32] #29 closed

[2019-08-16 18:03] andrew2net opened #30 "Reverse bib to hash mapping"
This is part of the Relaton YAML refactor. https://github.com/metanorma/relaton-bib/issues/8

[2019-08-20 17:46] #30 closed

[2019-08-27 16:47] andrew2net opened #31 ""require" flavor logic fixing"
If a flavor gem is manually required before loading relaton, the flavor can't be used by Relaton relaton/relaton#44

[2019-08-27 20:32] #31 closed

[2019-11-04 17:53] andrew2net commented on #3
@ronaldtse I'm looking through the `metanorma-ietf` code. As I see it makes XML from `Asciidoctor::Document` and adds references to it.
Do we need to use 'relaton' to fetch the references and store them into a cache?

[2019-11-11 19:12] #3 closed

[2019-12-17 12:18] opoudjis opened #32 "add anchor as identifier"
In metanorma-ietf, we have a ticklish problem. As you know, XML RFC fragments are assumed to be included from online source; as a result, any relaton source is ignored, and replaced with an `<xi:include>`. However, that means that the IDs of XML RFC fragments are in fact hard coded into the target document, and need to overwrite any anchors the user has provided.

So the user is free to reference

[2019-12-17 12:56] ronaldtse commented on #32
@opoudjis

I think this assumption has to go, the MN XML should already be the canonical source of references. There must be a way to cancel out xml2rfc's behavior that is irrelevant to us.

[2019-12-18 17:51] #28 closed

[2019-12-27 10:21] andrew2net commented on #32
@opoudjis we have `<docidentifier type="IETF">RFC 8341</docidentifier>` already. The only difference is a space between a prefix and a number. Could you use it? The space added programmatically, I think we can remove it if you need.

[2019-12-30 09:39] opoudjis commented on #32
I do not want to trust IETF that the anchor will always be derived from the identifier in this way, since they have hardcoded the anchor; and Internet Draft identifiers may also work differently. Please create the distinct identifier.

[2019-12-30 09:47] opoudjis opened #33 "Cite specific drafts of Internet Drafts"
It should be possible to cite a distinct version of an Internet Draft. The versions (drafts) of the Internet draft do not have distinct screen-scraped files; but they do have distinct document identifiers.

The screen-scraped file for an Internet Draft always has a hard coded version number at the end of the identifier and URL:

IETF(I-D.abarth-cake)

retrieves:

https://xml2rfc.tools.ietf.org/pub

[2019-12-30 10:46] #32 closed

[2020-02-05 16:26] andrew2net commented on #33
@opoudjis I'm not sure I understand the correct. Does it mean user allow to add any final `-nn` and we have to replace identifier's and URL's final `-nn` with the user's one?

[2020-02-05 16:41] andrew2net commented on #33
We didn't map the `reference/format` yet https://github.com/relaton/relaton-ietf/issues/1#issuecomment-396580005
So we don't parse it now.

[2020-02-06 12:56] opoudjis commented on #33
First question: yes.  You allow the user to specify the final -nn.

Second question: The `reference/format/@target` and `reference/format/@type` tag should be parsed after all, to be the uri of the document. They should only be present for internet drafts.

[2020-02-10 17:05] #33 closed

[2020-05-15 07:56] CAMOBAP opened #36 "relaton-ietf-1.0.0/lib/relaton_ietf/scrapper.rb:312:in `docids': undefined method `sub' for nil:NilClass (NoMethodError)"
https://github.com/metanorma/mn-samples-ietf/runs/674408016?check_suite_focus=true

[code]

[2020-05-15 08:04] ronaldtse commented on #36
Ping @andrew2net

[2020-05-15 18:06] andrew2net commented on #36
Fixed it. Please use relaton-ietf v 1.0.1 and relaton-cli v 1.0.2

[2020-05-15 18:06] #36 closed

[2020-05-22 14:28] opoudjis opened #37 "Need publishers for all relaton outputs"
For OGC, we have introduced place of publication to all outputs of relaton. We also must have a publisher, with abbreviation, for all relaton records. Please confirm that this is happening: it is needed for correct OGC output (https://github.com/metanorma/metanorma-ogc/issues/144).

So in IETF, all records returned must include:

[code]

This is missing in RFC 2616.

Note that the name of the orga

[2020-05-22 21:29] #37 closed

[2020-06-08 21:16] ronaldtse opened #38 "(URGENT) relaton-ietf fails in mn-samples-ietf"
Git clone mn-samples-ietf, run `make all`, see error:

[code]

[2020-06-09 11:30] andrew2net commented on #38
please use relaton-ietf v 1.1.2

[2020-06-09 11:30] #38 closed

[2020-06-09 11:33] ronaldtse commented on #38
@andrew2net can you help rerun mn-samples-ietf to ensure it works there? Thanks!

[2020-06-09 15:10] andrew2net commented on #38
@ronaldtse done https://github.com/metanorma/mn-samples-ietf/runs/754171643

[2020-06-15 20:24] ronaldtse opened #39 "(URGENT) Broken parsing of bibdata in calconnect/csd-icalendar-series"
Run `make clean all`, see this at the end.

[code]

[2020-06-18 21:35] #39 closed

[2020-07-16 05:16] ronaldtse opened #40 "Unable to fetch document I-D.draft-ietf-calext-eventpub-extensions"
This document clearly exists:
https://datatracker.ietf.org/doc/draft-ietf-calext-eventpub-extensions/

But I'm getting this:

[code]

[2020-07-16 05:16] ronaldtse commented on #40
@andrew2net can you help here? Thanks!

[2020-07-16 10:40] andrew2net commented on #40
@ronaldtse seems the latest version is published under "I-D.ietf-calext-eventpub-extensions" reference. Specific version is published under "I-D.draft-ietf-calext-eventpub-extensions-{ver}". However, relaton-ietf doesn't support version-specific references. Should we implement it?

[2020-07-16 10:42] ronaldtse commented on #40
Aha, yes we should implement the “no version” to point to the latest version. Thanks!

[2020-07-16 10:45] andrew2net commented on #40
Use "IETF I-D.ietf-calext-eventpub-extensions" reference instead of "IETF I-D.draft-ietf-calext-eventpub-extensions"

[2020-07-16 10:45] #40 closed

[2020-07-16 11:04] ronaldtse commented on #40
Can we accept both? It’s really hard to know what to use and what not to use. Can you also help update documentation? Thanks!

[2020-07-16 14:12] andrew2net commented on #40
@ronaldtse yes we can update script to use both links. Which documentation do we need to update?

[2020-12-08 12:39] ronaldtse opened #43 "Implement IETF WG fetching via GHA cron"
We need a separate relaton-data-ietf repository to store IETF information. Their endpoints often go offline and affects the reliability of Metanorma.

e.g.
https://github.com/Kritner/ACVP/pull/2/checks?check_run_id=1517259818

![image](https://user-images.githubusercontent.com/11865/101484953-673ea080-3995-11eb-8de7-7c985694c35f.png)

Ping @opoudjis : we should extract the current code out and ask

[2020-12-10 09:17] opoudjis commented on #43
OK, the code in metanorma-ietf involved is `cache_workgroup()` in https://github.com/metanorma/metanorma-ietf/blob/master/lib/asciidoctor/ietf/validate.rb . There is a cache meant to be created on first execution, but GitHub Actions testing creates it from scratch, and even with VCR caching, it is blowing up.

Let me know when you've taken care of it, and I'll call your routine instead.

[2020-12-15 21:37] andrew2net commented on #43
@ronaldtse we have discussed [api.relaton.com](https://github.com/relaton/api.relaton.org) cache service. The secvice can solve the problem. In case the IETF enpoint go offline the secvice can provide documents from cache. Wha do you think?

[2020-12-18 14:24] ronaldtse commented on #43
Yes I agree. But can we also have a simpler solution that only uses Git/GitHub?

Remember we had the idea of Relaton being manager of bibliographic information? We can just do:

[code]

Then we can fetch the bibliographic data.

[2021-02-03 19:59] andrew2net commented on #43
@ronaldtse I don't remember this idea. Could you give me a reference to the discussion?

[2021-02-05 23:37] #43 closed

[2021-02-17 13:33] opoudjis opened #44 "IETF BCP 9 and similar references not fetched"
References like IETF BCP 9 (https://xml2rfc.tools.ietf.org/public/rfc/bibxml-rfcsubseries/reference.BCP.0009.xml) do not appear to be fetched by relaton.

The RFC XML of these uses referencegroup tags, containing other RFC XML references. Treat these as bibitems with "includes" relations to their component bibitems.

[2021-02-17 15:48] andrew2net commented on #44
@opoudjis isn't this correct fetching `IETF BCP 9`?
[code]

[2021-02-18 00:01] opoudjis commented on #44
Huh, I must have looked at the wrong file. Ok, closing, sorry.

[2021-02-18 10:38] andrew2net commented on #44
@opoudjis but I think we should use the https://xml2rfc.tools.ietf.org/public/rfc/bibxml-rfcsubseries source as a BCP, FYI, and STD source. I believe it's more reliable using XML sources instead of scraping HTML pages. And relaton-ietf doesn't fetch FYI and STD references yet. Do you agree?

[2021-02-18 10:43] andrew2net commented on #44
@opoudjis Now relation type is "merges". Are you sure we need to change it to "includes"?

[2021-02-18 11:02] ronaldtse commented on #44
Fully agree, can you make a ticket for that?

I think we should fetch those too, can you help make a ticket for that too?

Thanks!

[2021-02-18 11:53] andrew2net commented on #44
@ronaldtse I can use this ticket, can't I?

[2021-02-18 17:48] #44 closed

[2021-02-19 01:41] ronaldtse commented on #44
Thanks @andrew2net !

[2021-02-22 00:06] opoudjis commented on #44
Sorry I didn't get to this, and yes, merges, and yes, that source should indeed be used.

[2021-05-06 04:06] ronaldtse opened #46 "Add example on how to fetch Internet-Draft document in README"

[2021-05-06 15:00] #46 closed

[2021-06-18 14:18] ryzokuken commented on #24
Does BCP 47 work now? I wanted to include a reference into a draft I've been working on.

/cc @ronaldtse :innocent:

[2021-06-18 15:32] andrew2net commented on #24
@ryzokuken Yes, it does. You can cite it by reference "IETF BCP 47"

[2021-06-21 05:11] ryzokuken commented on #24
@andrew2net `[[[BCP47,IETF BCP 47]]]` throws an error for me `Bibliography: ERROR: No title retrieved for IETF BCP 47`.

`Gemfile.lock` says I'm on `relaton` v1.8.1 and `relaton-ietf` v1.8.0

[2021-06-21 09:37] andrew2net commented on #24
@ryzokuken I'm not able to reproduce the error. Could you provide a document with the citation and explain how do you run the relaton script?

[2021-06-21 10:40] ryzokuken commented on #24
@andrew2net the document is in the repo at https://github.com/ryzokuken/draft-ryzokuken-datetime-extended. It fails when I add the reference in https://github.com/ryzokuken/draft-ryzokuken-datetime-extended/blob/master/sources/sections/06-references.adoc. I run the script by running `make all` which seems to be calling `relaton` at https://github.com/ryzokuken/draft-ryzokuken-datetime-extended/blo

[2021-06-21 11:29] andrew2net commented on #24
@ryzokuken could you provide a backtrace of the error? I don't see `IETF BCP 47` reference in `06-references.adoc`. Can you also provide the document with the reference added?

[2021-06-21 11:53] ryzokuken commented on #24
@andrew2net yes, I did not commit after adding that reference at the end because the build was failing. Let me commit with the error log file and the reference added.

[2021-06-21 11:56] ryzokuken commented on #24
@andrew2net check it out now, I just pushed to the repo. Also sending the console logs here for reference:

[code]

[2021-06-21 14:36] andrew2net commented on #24
@ryzokuken ok, I see.
The message `Bibliography: ERROR: No title retrieved for IETF BCP 47` isn't actually an error. It is a warning and seems it comes from metanorma. In fact, the "BCP 47" is a composition of 2 documents: "RFC 4647" and "RFC 5646". The composition doesn't have its own title.
The crash is caused by document duplicating:
[code]
It says that document "RFC 5646" is duplicated in conc

[2021-06-21 14:52] ryzokuken commented on #24
So I cannot refer to BCP 47 (the whole) and RFC 5646 (the single RFC) in the same document?

[2021-06-21 16:16] andrew2net commented on #24
@ryzokuken relaton doesn't have such a constraint. It seems this error is raised by metanorma. It's necessary to ask @opoudjis how to resolve the issue.

[2021-06-22 08:44] opoudjis commented on #24
... Ah. Bugger. OK, @ryzokuken, I'm raising a separate issue about that. Metanorma should anticipate that kind of redundancy and remove them (although I'm not in love with `bibitem//bibitem/@id` being generated by relaton to begin with.)

https://github.com/metanorma/metanorma-standoc/issues/482

[2021-06-22 09:05] ryzokuken commented on #24
Thanks a ton, @opoudjis!

[2021-10-07 04:41] ronaldtse opened #47 "Move IETF BibXML format implementation from metanorma-ietf to relaton-ietf"
https://github.com/metanorma/metanorma-ietf/blob/862ef2c4acb5ae3f6ad1656df8a1fffaf3e04caa/lib/isodoc/ietf/references.rb

FYI @opoudjis

[2021-12-05 04:51] ronaldtse opened #48 "IETF RPC request: specific organization names for exporting IEEE and W3C references"
From the RFC Production Center:

Originally from https://github.com/ietf-ribose/bibxml-service/issues/31#issuecomment-985726174

When we export references in BibXML format, we have to change these:

* "World Wide Web Consortium" => "W3C", for the abbreviation we still keep "W3C"
* "Institute of Electrical and Electronics Engineers" => "IEEE", for the abbreviation we still keep "IEEE"

i.e. instead

[2021-12-14 03:51] ronaldtse opened #49 "Rename default branch to `main`"

[2021-12-14 03:55] ronaldtse commented on #49
Done.

[2021-12-14 03:55] #49 closed

[2021-12-23 06:42] ronaldtse opened #50 "Cleanup of fetched abstract from IETF"
https://github.com/ietf-ribose/relaton-data-ids/blob/876920b81794d9a5972f5d2c3381e9f8eff9b43b/data/DRAFT-3K1N-6TISCH-ALICE0-00.yaml#L73-L82

[code]

The content here is not very useable. Imagine that I have a software that uses this abstract, and I will be forced to clean up the double whitespaces, useless line breaks, trailing tabs/empty lines.

While we have not decided on the format of this tex

[2021-12-23 11:16] opoudjis opened #51 "<t> has come back in relaton-ietf output"
https://github.com/metanorma/metanorma-bsi/actions/runs/1615052986 tests an IETF document included in a BSI document.

RFC 7749

Before:

[code]

Now:

[code]

When Metanorma is invoking Relaton-IETF, there must be Metanorma, not Relaton tags. More generally, the tags output need to conform to the calling environment.

[2021-12-23 12:07] andrew2net commented on #51
@opoudjis I make a bug in the last relaton-bib v 1.9.9 which potentially could lead to this result but in this case, v 1.9.7 was used.
I'm unable reproduce the issue with latest relaton-ietf:
[code]

[2021-12-23 13:22] opoudjis commented on #51
Error has gone away with relaton update.

[2021-12-23 13:22] #51 closed

[2021-12-28 05:50] ronaldtse opened #52 "Remove “rfc-anchor” from doc identifier"
There is no docidentifier type called “rfc-anchor”. This is causing https://github.com/ietf-ribose/bibxml-service/issues/53.

[2021-12-28 16:14] andrew2net commented on #50
fixed in -v 1.9.7

[2021-12-28 16:14] #50 closed

[2021-12-28 16:16] andrew2net commented on #52
fixed in -v 1.9.7

[2021-12-28 16:16] #52 closed

[2021-12-28 21:56] ronaldtse commented on #52
@andrew2net also need to remove this identifier from the existing ietf-ribose datasets:
* [x] relaton-data-misc
* [x] relaton-data-ids
* [x] relaton-data-rfcs
* [x] relaton-data-rfcsubseries

Thanks!

[2021-12-28 21:57] ronaldtse opened #53 "Remove `rfc-anchor` identifiers from existing ietf-ribose datasets:"
@andrew2net also need to remove this identifier from the existing ietf-ribose datasets:
* [x] relaton-data-misc
* [x] relaton-data-ids
* [x] relaton-data-rfcs
* [x] relaton-data-rfcsubseries

Thanks!

_Originally posted by @ronaldtse in https://github.com/relaton/relaton-ietf/issues/52#issuecomment-1002296997_

[2022-01-02 17:44] #53 closed

[2022-01-07 01:07] ronaldtse opened #54 "RFC dates are too unspecific"
From @strogonoff  (https://github.com/ietf-ribose/relaton-data-rfcs/issues/4)

[2022-01-07 01:07] ronaldtse commented on #54
ISO 8601-2 supports "unspecified" digits:

<img width="563" alt="Screenshot 2022-01-07 at 9 04 54 AM" src="https://user-images.githubusercontent.com/11865/148474524-6eb912cd-bcfb-442d-a46b-9fddc875c9ac.png">

We could use this.

That will break the model. We have come across Relaton dates that only have year and cannot be further specified.

[2022-01-07 13:53] strogonoff commented on #54
I believe we need to update the grammar[0] as well? I don’t think the regex allows for “XX” values.

https://github.com/relaton/relaton-models/blob/369b88802ac768524e1463139cc4f49ef3c1e30b/grammars/biblio.rnc#L24

[2022-01-09 16:51] andrew2net commented on #48
fixed in relaton-bib -v 1.9.18

[2022-01-10 02:30] ronaldtse commented on #48
@andrew2net we **only** want to change this behavior for BibXML output, not all Relaton output. i.e. Please do not change this behavior for other output formats.

[2022-01-10 13:04] andrew2net commented on #48
@ronaldtse it's exactly what we have now. IEEE and W3C are used as company names in BibXML output only.
There is remains one question: should we do back transformation when we parse BibXML?

[2022-01-10 13:20] ronaldtse commented on #48
@andrew2net yes, we should do the back transformation when parsing BibXML. Thanks!

[2022-01-10 17:45] #48 closed

[2022-01-18 17:28] ronaldtse opened #55 "(URGENT) Update fetch data source for Internet-Drafts to use new IETF rsync endpoint"
The public endpoint provided by IETF is:
* `rsync rsync.ietf.org::bibxml-ids`

We can implement a workflow like this:
https://github.com/ietf-ribose/bibxml-data-archive-sync/tree/main/.github/workflows

[2022-01-18 18:23] andrew2net commented on #55
@ronaldtse do you mean we need to use the new source in `ietf-ribose/relaton-data-ids` and `ietf-ribose/bibxml-data-ids` repos?

[2022-01-18 18:45] ronaldtse commented on #55
@andrew2net correct. The old source will be going away soon. The new one will be updated daily.

[2022-01-19 02:30] ronaldtse opened #56 "(URGENT) Abstract invalid for BibXML output"
As reported by IETF:
https://github.com/ietf-ribose/bibxml-service/issues/87

The `abstract` element contained only one paragraph:
https://dev.bibxml.org/api/v1/ref/rfcs/RFC8126/?format=bibxml
[code]

The correct entry has 3 paragraphs:

https://xml2rfc.tools.ietf.org/public/rfc/bibxml-rfcs/reference.RFC.8126.xml
[code]

[2022-01-19 16:00] #55 closed

[2022-01-20 00:19] ronaldtse opened #57 "(URGENT) Missing `seriesInfo` for RFC and BCP"
From: https://github.com/ietf-ribose/bibxml-service/issues/88

Correct (old):
https://xml2rfc.tools.ietf.org/public/rfc/bibxml-rfcs/reference.RFC.8126.xml
[code]

Missing RFC and BCP (new):
https://dev.bibxml.org/api/v1/ref/rfcs/RFC8126/?format=bibxml
[code]

[2022-01-20 00:21] ronaldtse commented on #56
Example updated. We are missing the paragraphs too.

[2022-01-20 00:23] ronaldtse opened #58 "(URGENT) `author` element missing attributes `initials` and `surname`, missing `organization` element within"
From: https://github.com/ietf-ribose/bibxml-service/issues/88

Correct (old):
https://xml2rfc.tools.ietf.org/public/rfc/bibxml-rfcs/reference.RFC.8126.xml
[code]

`author` element missing attributes `initials` and `surname`, and missing the empty `organization` element (new):
https://dev.bibxml.org/api/v1/ref/rfcs/RFC8126/?format=bibxml
[code]

[2022-01-20 02:18] ronaldtse opened #59 "(URGENT) Temporary removal of `<keywords>` element from BibXML"
IETF requested in ietf-ribose/bibxml-service#88 to remove the `<keywords>` element in BibXML.

In my view the current implementation is correct but we only need to omit this element for now. This may be re-enabled in the future so let's make it an option (default to `false`, e.g. `include_keywords: false`) for conversion.

From IETF:

[2022-01-20 02:22] ronaldtse opened #60 "(URGENT) Move `<seriesInfo>` outside `<front>`"
As requested in ietf-ribose/bibxml-service#86, IETF wants to have the `<seriesInfo>` placed one level up, outside the `<front>` element.

While what we had is valid, this is the official preference.

[2022-01-20 02:24] ronaldtse opened #61 "(URGENT) Do not provide `day` attribute for RFCs, but keep it for Internet-Drafts"
IETF requested in ietf-ribose/bibxml-service#85 that we should not specify the `day` number for the publication date for RFCs.

This only applies to the RFC series -- the Internet-Drafts should still have `day`.

[2022-01-20 18:48] andrew2net commented on #58
@ronaldtse do we relay need empty organization tags?

[2022-01-21 13:34] andrew2net commented on #61
@ronaldtse days don't present in the data source. The day appeared due to a bug. I fixed it already https://github.com/ietf-ribose/bibxml-data-rfcs/blob/main/data/RFC8126.xml
If a source doesn't contain days then the output won't either.

[2022-01-21 17:26] #61 closed

[2022-01-21 17:27] #60 closed

[2022-01-21 17:27] #59 closed

[2022-01-21 17:27] #58 closed

[2022-01-21 17:28] #56 closed

[2022-01-21 17:29] #57 closed

[2022-01-22 08:18] ronaldtse commented on #58
@andrew2net yes let's include them. Without those we might be breaking some xml2rfc implementations.

[2022-01-26 12:30] ronaldtse opened #62 "(URGENT) Use `rfc` for `docid.type` for RFC documents"
From https://github.com/ietf-ribose/bibxml-service/issues/59

IETF has indicated that:
* The publisher of RFC is "The RFC Publisher", not "IETF".
* "Many of the RFCs in the series do not come from the IETF"
* "The IETF, IRTF, IAB, and Independent streams are the current sources of RFCs, as defined in RFC8728. Figure 1 may help you. But be aware that the model is likely to change soon - see https:/

[2022-01-26 17:25] andrew2net commented on #62
Currently, this gem sets `docid.type` to "IETF" for all documents it fetches. To resolve this issue we need to detect `docid.type` from the reference somehow. Do we have completed list of types that will be fetched by this gem?

[2022-01-29 10:45] ronaldtse opened #63 "(URGENT) Use "3GPP" as organization name in BibXML serialization for "3rd Generation Partnership Project""
When serialising to BibXML, we only use the name "3GPP" without the full name, and not setting the abbreviation (similar to the situation with W3C).

This is similar to https://github.com/relaton/relaton-ietf/issues/48.

Linked to https://github.com/relaton/relaton-3gpp/issues/7

[2022-01-30 20:38] andrew2net commented on #63
fixed in relaton v 1.10.0

[2022-01-30 20:38] #63 closed

[2022-01-30 20:40] andrew2net commented on #62
fixed in v 1.10.0

[2022-01-30 20:40] #62 closed

[2022-02-11 16:46] ronaldtse opened #64 "Remove the "Place" attribute for RFCs, RFC subseries, and Internet-Drafts"
As per https://github.com/ietf-ribose/bibxml-service/issues/112, we should remove the "Place" attribute for RFCs, RFC subseries, and Internet-Drafts.

[2022-02-11 18:09] andrew2net commented on #64
The only place "Fremont, CA" was added to any document fetched by this gem. Now it's removed.
@ronaldtse let me know if we need to add places for 3GPP and IEEE documents fetching by this gem.

[2022-02-12 03:29] ronaldtse commented on #64
OK thanks, fixed in 9a7adefa23cac0fb8e726e3b40e22aae6075a427

[2022-02-12 03:29] #64 closed

[2022-02-18 16:30] ronaldtse opened #65 "URGENT: If `<workgroup>` contains value `NON WORKING GROUP`, remove the element"
We need to remove the `workgroup` (BibXML) or `editorialgroup` (Relaton) element if the value is `NON WORKING GROUP`.

* https://github.com/ietf-ribose/bibxml-service/issues/88#issuecomment-1024922987
* https://github.com/ietf-ribose/bibxml-service/issues/103

[2022-02-18 16:34] ronaldtse commented on #65
Yes it still exists:
https://github.com/ietf-ribose/bibxml-data-rfcs/blob/8184e3081a7960f2ff601cdac4c86d563fe843d1/data/RFC8126.xml#L14

https://github.com/ietf-ribose/relaton-data-rfcs/blob/76160c73ed0effa01e219454bddfdb4e53dfc129/data/RFC8126.yaml#L132-L133

@andrew2net please help handle this ASAP.

[2022-02-18 16:46] ronaldtse opened #66 "URGENT: RFC bibxml should not specify document day"
From: https://github.com/ietf-ribose/bibxml-service/issues/85

-----

Compare
https://dev.bibxml.org/api/v1/ref/rfcs/RFC8126/?format=bibxml
and
https://xml2rfc.tools.ietf.org/public/rfc/bibxml-rfcs/reference.RFC.8126.xml

Note that the later does not claim `day=1`

RFCs are published with a Year and Month, but not a day*. Please remove day from this rendering for RFCs (day still makes sense for In

[2022-02-18 16:55] ronaldtse opened #67 "URGENT: Remove `<keywords>` value from BibXML files"
In Relaton we can keep the keywords. However, in BibXML, it has been clarified by IETF in https://github.com/ietf-ribose/bibxml-service/issues/88 that they do not support the `<keyword>` element yet.

We have to drop all keywords in the BibXML format.

We will add them back when IETF xml2rfc supports them in the future.

[2022-02-18 16:57] ronaldtse opened #68 "URGENT: `<seriesinfo>` should render outside `<front>`"
From https://github.com/ietf-ribose/bibxml-service/issues/86:

-----

Compare
https://dev.bibxml.org/api/v1/ref/rfcs/RFC8126/?format=bibxml
and
https://xml2rfc.tools.ietf.org/public/rfc/bibxml-rfcs/reference.RFC.8126.xml

Note where seriesinfo differs in the two renderings.

While both are valid v3 xml, the second is preferred. Please change the renderer to follow that form.

[2022-02-18 17:03] ronaldtse opened #69 "URGENT: Internet-Drafts should not have "IETF" as contributor organization"
IETF has clarified that the "IETF is not the publisher or contributor to Internet-Drafts":
* https://github.com/ietf-ribose/bibxml-service/issues/59

Look at: https://github.com/ietf-ribose/relaton-data-ids/blob/main/data/draft-asciirfc-minimal-03.yaml#L28-L31

https://github.com/ietf-ribose/relaton-data-ids/blob/a0f1526520ba437709c47d3aa7369a67e17d923a/data/draft-asciirfc-minimal-03.yaml#L28-L31

[2022-02-18 17:55] andrew2net commented on #66
@ronaldtse we've removed day already https://github.com/ietf-ribose/bibxml-data-rfcs/blob/8184e3081a7960f2ff601cdac4c86d563fe843d1/data/RFC8126.xml#L13

[2022-02-18 17:58] andrew2net commented on #67
@ronaldtse we've removed keywords already https://github.com/ietf-ribose/bibxml-data-rfcs/blob/main/data/RFC8126.xml

[2022-02-18 18:00] andrew2net commented on #68
@ronaldtse it's done some time ago https://github.com/ietf-ribose/bibxml-data-rfcs/blob/main/data/RFC8126.xml

[2022-02-18 18:45] #65 closed

[2022-02-19 04:26] ronaldtse commented on #66
Thanks for checking! Closing.

[2022-02-19 04:27] ronaldtse commented on #67
Thanks @andrew2net !

[2022-02-19 04:27] #67 closed

[2022-02-19 04:28] ronaldtse commented on #68
Thanks @andrew2net !

[2022-02-19 04:28] #68 closed

[2022-02-19 04:30] ronaldtse commented on #65
Thanks @andrew2net !

[2022-02-19 11:57] #69 closed

[2022-02-21 03:18] ronaldtse opened #70 "URGENT: Use "RFC", "Internet-Draft" for document identifier type instead of "IETF""
As requested in https://github.com/ietf-ribose/bibxml-service/issues/59#issuecomment-1046281131, the IETF has requested the DocID type to be named:

* For RFCs, the type should be "RFC" (or "rfc")
* For Internet-Drafts, the type should be "Internet-Draft" (or "internet-draft")
* For RFC subseries, the type is not yet requested but likely also "RFC" (pending confirmation in https://github.com/ietf-

[2022-02-21 04:21] ronaldtse opened #71 "URGENT: Internet-Draft references in BibXML format missing `target` to information resources"
e.g. https://github.com/ietf-ribose/bibxml-data-ids/blob/main/data/draft--pale-email-00.xml

[code]

This is missing the `<reference ... anchor="...">` `anchor` attribute.

This data is present in the Relaton YAML version:
https://github.com/ietf-ribose/relaton-data-ids/blob/01638f583ad43a9124c17247289bf1683a136237/data/draft--pale-email-00.yaml#L11
[code]

The first line should be:
[code]

This i

[2022-02-21 13:28] andrew2net commented on #71
@ronaldtse the source dataset `rsync.ietf.org::bibxml-ids`doesn't contain a `target` element:
[code]
It contains the `format` element with link of `TXT` type. Currently, Relaton renders link with `src` type as a `target` element. We can use any other type of link to create target but when we parse BibXml the `target` will be treated as `src` link. Wouldn't it be a problem?
Should we add the `forma

[2022-02-21 13:38] andrew2net commented on #70
@ronaldtse for RFC and RFC subseries it's already done https://github.com/relaton/relaton-ietf/issues/62

[2022-02-21 17:37] andrew2net commented on #70
The "Internet-Dreaft" documents have an `anchor` attribute and `seriesInfo` element with `name="Internet-Draft"` attribute https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.3k1n-6tisch-alice0.xml
[code]
Currently, we use the anchor to produce primary PubID. The `seriesInfo` is saved as `type="Internet-Draft"` docidentifier:
[code]
Should we use the `<docidentifier type="Internet-Draf

[2022-02-21 18:45] ronaldtse commented on #71
@andrew2net this is a good find. The IETF just gave guidance here: https://github.com/ietf-ribose/bibxml-service/issues/142#issuecomment-1046999571 that:
* for I-Ds, use `<format>`
* for RFCs, use `<reference target="...">`

For now. Feel free to close if we are compliant. Thanks.

NOTE: Yes I also found that the `target` page for I-Ds often do not exist.

[2022-02-22 15:19] #71 closed

[2022-02-26 05:38] ronaldtse commented on #70
@andrew2net we have received clarification from IETF:

`Internet-Draft` identifiers can only be one of:

* `3k1n-6tisch-alice0` (no version)
* `draft-3k1n-6tisch-alice0-{version}` (with version)

When people cite, they only have these two options.

Yes please.

Should be this instead:
[code]

[2022-02-26 16:55] andrew2net commented on #70
@ronaldtse are you sure? The [original document](https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-3k1n-6tisch-alice0-01.xml) contains `<seriesInfo name="Internet-Draft" value="draft-3k1n-6tisch-alice0-01"/>`

[2022-02-26 17:14] ronaldtse commented on #70
@andrew2net Ah! You're right -- seriesInfo is for displaying the exact draft name within that series.  OK we keep it that way...

[2022-03-01 13:31] andrew2net commented on #70
@ronaldtse is it ok if we have primary PubIDs duplicates? For example, the following documents will have identical PubID:

https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-zzhang-teas-rmr-rsvp-p2mp-00.xml
https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-zzhang-teas-rmr-rsvp-p2mp-01.xml
https://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-z

[2022-03-01 15:05] ronaldtse commented on #70
@andrew2net I thought they were not identical? `draft-zzhang-teas-rmr-rsvp-p2mp-00` is the versioned Internet-Draft identifier, `zzhang-teas-rmr-rsvp-p2mp` is the unversioned Internet-Draft identifier (similar to ISO 9001:2005 vs ISO 9001)

[2022-03-01 19:23] #70 closed

[2022-03-20 10:09] ronaldtse opened #72 "Update RFC subseries `type=IETF scope=anchor` value to "BCPnn" instead of "BCP00nn""
As per official IETF from https://github.com/ietf-ribose/bibxml-service/issues/151#issuecomment-1066424025 , the RFC subseries anchor must be of the pattern "BCPnn" instead of "BCP00nn".

[2022-03-22 12:07] #72 closed

[2022-03-23 00:36] ronaldtse opened #73 "Internet-Draft data is considered to be all "draft" type, not "standard" type"
As requested by IETF: https://github.com/ietf-ribose/bibxml-service/issues/137

[2022-03-26 17:40] andrew2net commented on #54
@ronaldtse @strogonoff could we close this issue?

[2022-03-26 18:17] andrew2net commented on #73
@ronaldtse the `BibliograpnicItem` model has `type` and `doctype` attributes. I was told by @opoudjis that the `type` is always `standard`. For Internet-Draft documents the `doctype` attribute is "internet-draft". I think we should use the `doctype` attribute to display document type.
Should we change `doctype`'s value from "internet-draft" to just "draft"?

[2022-03-27 04:17] ronaldtse commented on #54
This issue is not fixed. We need to represent the correct date and with the correct specificity. We have to update the schema as appropriate.

[2022-03-27 04:18] ronaldtse commented on #54
Yes we should update the grammar.

[2022-03-27 13:37] andrew2net commented on #54
@ronaldtse I just checked the regex expression in the grammar. It allows unspecific dates https://regex101.com/r/QV1TPS/1

[2022-03-28 04:51] ronaldtse commented on #54
That's great, thanks @andrew2net !

[2022-03-28 04:53] ronaldtse commented on #73
That is only true for "standards". An Internet-Draft, as already clarified authoritatively by the IETF, should not be considered a "standard".

We should change the `type` to `draft` and maintain `doctype` as `internet-draft`.

FYI @opoudjis .

[2022-03-29 04:50] strogonoff commented on #54
@andrew2net So regex allows for dates like `2005-03-XX`? That’s great. Now seems like we only need to change the actual data so that date format matches ISO 8601 4.6.3

[2022-03-29 07:10] ronaldtse commented on #54
Yes we will need to update the data, and also update the date parsing mechanism.

[2022-03-29 10:31] strogonoff commented on #54
I expect date parsing in BibXML service (provided by Pydantic) _should_ continue working for unspecific dates with XX instead of day (since this complies with ISO 8601), if not then I can provide/adjust custom validator.

[2022-03-29 10:49] andrew2net commented on #54
@strogonoff the regexp matches only `2005-03`. You can see it here https://regex101.com/r/QV1TPS/2
We need to ask @opoudjis to change the grammar.

[2022-03-29 11:32] strogonoff commented on #54
ISO 8601 doesn’t allow `2005-03`, it requires `2005-03-XX`.

Regexp allows `2005-03-XX`. It just ignores the XX.

So we can simply update the data. But we can confirm with Nick first.

[2022-03-29 12:01] ronaldtse commented on #54
Ah! Good question that I had to search for...

ISO 8601-1:2019 supports the "yyyy-mm" pattern:
<img width="821" alt="Screenshot 2022-03-29 at 7 59 17 PM" src="https://user-images.githubusercontent.com/11865/160606343-6a9e6f7a-9435-4092-b057-6fa145209386.png">

ISO 8601-2:2019 supports the "unspecified form" of "yyyy-mm-xx" pattern:
<img width="796" alt="Screenshot 2022-03-29 at 8 00 49 PM" src="ht

[2022-03-29 12:58] strogonoff commented on #54
Ah.

[2022-03-29 12:59] strogonoff commented on #54
I’ll look into the parser on my side and confirm whether a change if needed. If YYYY-MM is allowed by ISO8601, this raises the possibility of parser being non-compliant. 🤦‍♂️

[2022-03-29 13:00] strogonoff commented on #54
I wonder if there is a semantic difference between “this date references given month” or “this date references an unspecific day within given month”. But it sounds more and more like bikeshedding.

[2022-03-29 13:06] ronaldtse commented on #54
There is a semantic difference.

* "yyyy-mm" means "year yyyy, month mm". The smallest specification time scale unit is "month".

* "yyyy-mm-xx" means "year yyyy, month mm, day unknown". The smallest specification time scale unit is "day". It means a date that happened on a particular day that was unknown.

So it depends on whether we want to say, it was published in this month, vs it was publishe

[2022-03-30 10:53] strogonoff commented on #54
Probably beyond the scope to know whether publication procedure took a month or it was some particular day. (I should’ve read the standard more carefully, perhaps I was looking at the wrong version…)

[2022-04-05 07:03] ronaldtse opened #74 "Add I-D identifiers, versioned and unversioned to `docid`"
As requested by https://github.com/ietf-ribose/relaton-data-ids/issues/15 , and https://github.com/relaton/relaton-iso/issues/107

We want to have under `docid` two authoritative identifiers:
* Versioned identifier of an I-D: `draft-xxx-nn`
* Unersioned identifier of an I-D: `draft-xxx`

[2022-04-05 07:05] ronaldtse opened #75 "Create `relationship` entries between versioned I-D to show supersedes/superseded-by relationships"
From: https://github.com/ietf-ribose/relaton-data-ids/issues/6#issuecomment-1086791243

- For each bibliographic item, create a `supersedes` relation between `draft-xx-{nn}` and `draft-xx-{nn+1}`,
  - `draft-xx-{nn}` has a relationship of `superseded_by` to `draft-xx-{nn+1}`
  - `draft-xx-{nn+1}` has a relationship of `supersedes` to `draft-xx-{nn}`
- There are two catches we need to account for:

[2022-04-05 07:08] ronaldtse opened #76 "Create individual files for every unversioned I-D instance"
From https://github.com/ietf-ribose/relaton-data-ids/issues/16 by @strogonoff

For every `draft-xxx-nn`, we create individual bibliographic items for every unversioned instance `draft-xxx` that contains relationships using the `contains` relationship to the individual versioned drafts (`draft-xxx-nn`).

This will provide an `index` for software to know the full series of an I-D without needing to

[2022-04-05 08:26] strogonoff commented on #76
I don’t mind creating an unversioned item for each unversioned I-D and use it as series.

Note though it is not a requirement for series to be defined as a separate bibitem, we have plenty of series among Relaton datasets that do not have their own separate bibitems (and BibXML service converts those to links just fine):

- [W3C NOTE](https://github.com/relaton/relaton-data-w3c/blob/291c54e41949c7

[2022-04-05 09:47] ronaldtse commented on #76
W3C NOTE is not a series, it's a document type. W3C items are going to be separately encoded as versioned vs unversioned entries.

NIST CSWP is a proper "series" but it is not commonly cited in the way of versioned vs unversioned, dated vs undated.

[2022-04-05 12:53] strogonoff commented on #76
I’m just setting the priorities. Specifying series can be done first, and unversioned bibitem YAML files could be created later. (Since there are precedents where series don’t have separate bibitems in current YAML data, and it works fine for BibXML service and does not violate Relaton spec.)

We don’t have NIST CSWP as series, we have only global NIST series. (This is actually a problem, filed ht

[2022-04-05 18:11] ronaldtse commented on #76
@strogonoff While the "NIST CSWP publication series" (and the other 50+ publication series) can technically be citable, we don't need to make it citable at this stage because there is just no practice that uses it today. For sure IETF will not need them.

[2022-04-06 01:45] ronaldtse commented on #76
Relevant to https://github.com/relaton/relaton-ietf/issues/74

[2022-04-06 14:03] andrew2net commented on #76
@ronaldtse `contains` isn't allowed as relation type in the [grammar](https://github.com/relaton/relaton-models/blob/cee86293102834b42a928f64e1e70d38cee393f3/grammars/biblio.rnc#L383). In the relaton-iso we use `instance`.

[2022-04-06 14:26] strogonoff commented on #76
I think rfcsubseries uses "includes", too

[2022-04-06 14:50] ronaldtse commented on #76
@andrew2net `instance` is for a physical instance so we shouldn't use that. Then we use `include/includedIn`.

[2022-04-07 09:12] #76 closed

[2022-04-07 09:12] #75 closed

[2022-04-09 07:57] ronaldtse opened #77 "RFC subseries: link pointing to `https://raw.githubusercontent.com/relaton/relaton-data-ietf/...` should be removed"
https://github.com/ietf-ribose/relaton-data-rfcsubseries/blob/d3fe30d9e5860f9e4c6fef815fda5fd9ec52c3b9/data/BCP0048.yaml#L37-L41

The link:
[code]

Should no longer exist, because this is not an authoritative source.

Let's remove it.

[2022-04-09 08:45] ronaldtse opened #78 "(URGENT) Missing Internet-Drafts from rsync"
https://github.com/ietf-ribose/relaton-data-ids/issues/11

For example, we don’t have this one: http://xml2rfc.tools.ietf.org/public/rfc/bibxml3/reference.I-D.draft-abarth-cookie-02.xml

There’s nothing here: https://github.com/ietf-ribose/relaton-data-ids/blob/main/data/draft-abarth-cookie-02.yaml

It clearly exists on xml2rfc server.

@andrew2net you need to check:
1. Does this Internet-Draft ex

[2022-04-09 08:50] ronaldtse opened #79 "Properly map Internet-Draft draft number to Relaton versions"
https://github.com/ietf-ribose/relaton-data-ids/issues/9

Here is an item that is presumably version 2 of a document:

https://github.com/ietf-ribose/relaton-data-ids/blob/main/data/draft-donley-behave-deterministic-cgn-02.yaml

However, nowhere in Relaton data is version 2 specified in a normalized way.

Some of the fields that could be used for this:

- [version](https://github.com/relaton/relat

[2022-04-09 08:54] ronaldtse commented on #54
@andrew2net is this still a problem? Are we setting the publication dates properly?

[2022-04-11 18:19] andrew2net commented on #54
@ronaldtse Relaton stores dates as they are in a source data. It could be "yyyy", "yyyy-mm", or "yyyy-mm-dd". Relaton doensn't add X to unspecific dates. Should it add?

[2022-04-11 18:35] ronaldtse commented on #54
No need to add. If there's nothing left to do here can you please close it? Thanks.

[2022-04-11 18:35] #54 closed

[2022-04-14 12:21] opoudjis commented on #73
As we've discussed, draft is not a legal category for `bibitem/@type`, but we can make it `tech-report`.

[2022-04-18 06:17] strogonoff opened #80 "Separate sources between gems?"
Unless I’m mistaken, it looks like for RFCs and RFC subseries this gem uses both xml2rfc.tools.ietf.org (future BibXML service) in some scenarios, and `rfc-editor`. Perhaps we could consider refactoring and splitting source usage across gems, because it is easy to make a change in future where this gem starts using BibXML service to fetch certain data while BibXML service relies on this gem for th

[2022-04-18 08:26] ronaldtse commented on #80
There are two different use cases that do not overlap. It's not as confusing as it seems.

Relaton does many things around the usage and provision of bibliographic items:
1. Relaton can be used to create/import a data source.
  * It can fetch from bulk authoritative data sources to store a data set.
2. Relaton can be used by a client/user to fetch a particular reference from an external data sourc

[2022-04-27 12:31] andrew2net commented on #80
There are two workflows:

fetching individual documents
`xml2rfc.tools.ietf.org`<--fetch all--`relaton-data-ietf`<--fetch individual--`relaton-ietf`

creating datasets for `ietf-ribose`
`rfc-editor`<--fetch all--`relaton-ietf`--put all to-->`{realaton,bibxml}-data-{ids,rfcs,rfcsubseries}`

These 2 workflows use the `RelatonIetf` data model but are completely independent form each other.

@ronaldts

[2022-04-29 12:34] andrew2net commented on #78
@ronaldtse it doesn't exist
[code]

[2022-04-29 12:57] ronaldtse commented on #78
@andrew2net you're right, I only see:
[code]

We need to ping @rjsparks.

UPDATE: filed issue at https://github.com/ietf-ribose/relaton-data-ids/issues/11

[2022-04-29 14:40] rjsparks commented on #78
As noted on the other ticket - this is because the datatracker has incomplete information for that draft, and this will be repaired at some point in the future. It is ok that the service doesn't serve this bibxml even if the older service did.

[2022-04-30 00:56] ronaldtse commented on #78
Thanks for the clarification @rjsparks ! I will keep this issue open for future tracking.

[2022-05-05 16:59] #79 closed

[2022-05-05 17:13] andrew2net commented on #77
fixed

[2022-05-05 17:13] #77 closed

[2022-05-09 14:58] andrew2net opened #81 "Add docidetifier to relations"
As @strogonoff said we need to add docidentifiers to relations in these [repos](https://github.com/ietf-ribose?q=relaton-data-).

[2022-05-09 17:15] andrew2net opened #82 "Add title to unversioned Interned-Draft containers"
As we discuss with @strogonoff it needs to add a title from the latest version to an unversioned container.

[2022-05-10 10:18] andrew2net opened #83 "Update relaton-ietf to stop obtaining information from xml2rfc.ietf.org"
https://github.com/ietf-ribose/bibxml-service/issues/198
@ronaldtse Do we need to create relaton-data-rfc, relaton-data-rfcsubseries, and relaton-data-ids in the GitHub relaton organization and use them to fetch documents?

[2022-05-10 12:36] #82 closed

[2022-05-14 11:12] strogonoff opened #84 "`version.draft` should not be a list?"
Regarding: https://github.com/ietf-ribose/relaton-data-ids/blob/7e90bafefe9b579ddfa339169d5ffbe949e548f1/data/draft-3k1n-6tisch-alice0-00.yaml#L90-L92

According to the model, `version.draft` can contain either one string or nothing: https://github.com/relaton/relaton-models/blob/f3363d495c7da9987fd2eb91a5c958284cfb43c3/models/VersionInfo.lutaml#L10-L14

Unless we foresee a change which makes `ver

[2022-05-14 11:31] strogonoff opened #85 "Correct format for primary `docid` of unversioned containers"
Currently, primary `docid` for unversioned I-D looks like this:

https://github.com/ietf-ribose/relaton-data-ids/blob/7e90bafefe9b579ddfa339169d5ffbe949e548f1/data/draft-3k1n-6tisch-alice0.yaml#L10-L13

    draft-3k1n-6tisch-alice0

However, IETF mentioned that correct format _without a version_ must look like:

    I-D.3k1n-6tisch-alice0

Just want to confirm whether I can expect a change, this i

[2022-05-15 05:39] ronaldtse commented on #84
I'm not sure about the purpose of the `version.draft` attribute. @opoudjis @andrew2net can you help clarify?

[2022-05-15 05:44] ronaldtse commented on #85
The IAB (governing body of IETF and RFC series) has clarified the following.

The primary PubID is ONLY one of:
* `draft-xxx` (unversioned)
* `draft-xxx-nnn` (versioned)

The `I-D.3k1n-6tisch-alice0` ID is an "implementation detail", it is NOT authoritative.

This means we should remove it from the Relaton IETF model entirely. @andrew2net can you please help?

In addition, it is up to the BibXML S

[2022-05-16 07:19] strogonoff commented on #84
@ronaldtse Definition is here:

https://github.com/relaton/relaton-models/blob/f3363d495c7da9987fd2eb91a5c958284cfb43c3/models/VersionInfo.lutaml#L10-L14

I believe the purpose is to introduce a marker that actually represents a version of a draft, previously we did not have a structured property denoting I-D version.

[2022-05-16 07:28] strogonoff commented on #85
OK, my assumption was incorrect, the `I-D.` format is only for legacy xml2rfc-style paths apparently.

@ronaldtse we don’t need to remove a non-primary `anchor` docid. In fact, the anchor docid is _used_ by BibXML service when formatting `<reference>` anchors. My concern was only about the `primary` docid used for citations and unambiguously referencing an I-D.

[2022-05-16 07:31] strogonoff commented on #85
This is OK with me, let’s do it. Are we filing another issue or editing this one?

[2022-05-16 07:51] andrew2net commented on #84
@strogonoff the [grammar](https://github.com/relaton/relaton-models/blob/ec12a0b5f00fd9e5dd19a63e6d0e1658d0165331/grammars/biblio.rnc#L467-L470) defines `version.draft` as list. I use the gramma as a reliable model description because @opoudjis is supporting it and it's possible to test RelatonXML outputs against grammas.

[2022-05-25 08:19] ronaldtse opened #86 "Using the seriesInfo element to represent series information?"
According to https://datatracker.ietf.org/doc/html/rfc7991#section-2.47.3 :

[Relaton](https://github.com/relaton/relaton-ietf) currently fills in seriesInfo only for RFC, I-D and DOI as appropriate. However, if `seriesInfo` is meant to be a generic representation of the bibliographic series, then could other documents/standards, like W3C, IEEE, also be represented here?

(from @andrew2net)

[2022-05-25 09:03] ronaldtse commented on #85
@strogonoff Feel free to repurpose this one?

[2022-05-25 09:47] strogonoff commented on #85
Okay, after consideration I am creating a new one. This issue needs no change.

[2022-05-25 09:47] #85 closed

[2022-05-25 09:48] strogonoff opened #87 "Remove `docid` with `scope=anchor`"
Example: https://github.com/ietf-ribose/relaton-data-ids/blob/99b3eadf8840bd841a0044effa87faa4d4e65fce/data/draft-3k1n-6tisch-alice0-00.yaml#L18-L20

- We consider these anchors a detail only relevant for legacy xml2rfc API support, and they are not document identifiers.
- We will maintain anchors separately as part of mapping metadata (or generate them dynamically), and not keep them in source da

[2022-05-29 17:59] andrew2net commented on #87
@strogonoff @ronaldtse
Should we still have `anchor` in BibXML output?
If yes, can we use primary `docid` as `anchor` as it is (without replacing spaces and slashes)?
If no, where should we render primary `docid` in BibXML output?

[2022-05-30 03:21] ronaldtse commented on #87
How does "primary docid" look like right now? Why does it have spaces and slashes?

[2022-05-30 08:14] strogonoff commented on #87
@andrew2net  I believe we were discussing this question with Robert; i.e. ”do we need to maintain all old anchors as is, or can we generate them from docid even if this means they will sometimes differ a bit?” (see https://github.com/ietf-ribose/bibxml-service/issues/206).

Some replacement may be needed, but this can be done by the app that generates XML.

@ronaldtse, primary IDs for RFCs and RFC

[2022-06-01 14:43] andrew2net commented on #87
@strogonoff @ronaldtse @opoudjis in the Relaton model we have a `docnumber` attribute. If I'm right, the attribute is used by Metanorma for sorting purpose. What do you think if we save `anchor` as the `docnumber` attribute?
Note: for Internet-drafts `anchor` isn't unique, all versions of a document have same `anchor`

[2022-06-07 05:31] strogonoff commented on #84
Based on https://github.com/relaton/relaton-models/issues/39#issuecomment-1139518377, we should probably make `version` a list and update RNC grammar…

[2022-06-10 16:29] #83 closed

[2022-06-24 06:38] ronaldtse commented on #84
@andrew2net this is an urgent issue that blocks the usage of the bibxml-service. Can you proceed with the fix ASAP? Thanks!

[2022-06-28 08:45] #84 closed

[2022-06-29 15:44] ronaldtse opened #89 "(URGENT) Missing RFCs in relaton-data-rfcs"
From https://github.com/ietf-tools/relaton-data-rfcs/issues/5

@andrew2net can you help check (and fix)? Thanks!

[2022-06-29 16:17] andrew2net commented on #89
@ronaldtse all the documents in the source [dataset](https://www.rfc-editor.org/rfc-index.xml) are published as:
[code]

[2022-06-29 16:19] ronaldtse commented on #89
Thanks @andrew2net !

Perhaps these were reserved numbers then...

[2022-06-29 16:19] #89 closed

[2022-07-01 22:15] strogonoff opened #90 "Unversioned I-D item “includes” versions of different Internet Drafts"
https://github.com/ietf-tools/relaton-data-ids/blob/cd250b155e0ce902bc32675bca3792c62a6c7830/data/draft-hartman-webauth.yaml#L33-L53

Are we sure that draft-hartman-webauth-00 and draft-hartman-webauth-phishing-09 are versions of the same draft? The titles are different… (https://dev.bibxml.org/get-one/by-docid/?docid=draft-hartman-webauth&doctype=Internet-Draft)

[2022-07-02 04:03] ronaldtse commented on #90
We can only know the real succession of drafts from datatracker, because authors are required to manually indicate supersession of drafts.

In the current case, it sounds like a bug with matching strings with regular expressions.

[2022-07-02 23:33] #90 closed

[2022-07-10 16:48] strogonoff opened #91 "Missing unversioned I-D containers"
For most I-Ds we offer an unversioned “series” bibitem as well as a bibitem for each concrete I-D version.

For example: https://github.com/ietf-tools/relaton-data-ids/blob/main/data/draft-aa-ldp-link-shut.yaml and https://github.com/ietf-tools/relaton-data-ids/blob/main/data/draft-aa-ldp-link-shut-01.yaml.

However, for some items we only have the versioned bibitem. For example: https://github.co

[2022-07-11 02:47] ronaldtse commented on #91
This should not happen? @andrew2net can you investigate?

[2022-07-22 03:32] strogonoff opened #92 "(URGENT) Parse `author.title` contributor role"
Here, we have no roles: https://github.com/ietf-tools/relaton-data-rfcs/blob/4e97527a6364853c3208d5ef10be62393cc8f969/data/RFC4872.yaml#L25-L50

However, as https://github.com/ietf-ribose/bibxml-service/issues/238 pointed out, xml2rfc provides `role="editor"`: https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.4872.xml

Are we able to add requisite roles, or is this caused by lacking a

[2022-07-22 06:03] ronaldtse commented on #92
Relaton-IETF fetches from the authoritative source here:
https://github.com/relaton/relaton-ietf/blob/f4bcb9823fd93f2ba99fcc01895ad15f5831aeb1/lib/relaton_ietf/data_fetcher.rb#L181

The authoritative source is:
https://www.rfc-editor.org/rfc-index.xml

For example in RFC 4872, the information provided is:
[code]

It does provide a `<title>Editor</title>` element.

We are indeed missing this.

@and

[2022-07-22 06:19] ronaldtse opened #93 "(URGENT) "bibxml-data-misc" data source should not display publisher as IETF"
We need to remove `<author><organization abbrev="IETF">Internet Engineering Task Force</organization></author>` because the bibliographic item does not technically originate from IETF.

This is a blocker for:
* https://github.com/ietf-tools/relaton-data-misc/issues/15
* https://github.com/ietf-ribose/bibxml-service/issues/234

[2022-07-22 09:39] andrew2net commented on #92
It seems not all entries have an `author/title` element. For example:
[code]
Should we use `author` by default?

[2022-07-22 09:41] ronaldtse commented on #92
@andrew2net yes. In the RFC Editor XML:
- `<author>` maps to "author"
- `<author>` with `<title>Editor</title>` maps to "editor"

[2022-07-22 10:14] andrew2net commented on #93
@ronaldtse I'm not sure what it needs to do here. The BibXML parser adds IETF as publisher type contributor for Internet-Drafts. Do we need to remove the contributor?

[2022-07-22 10:33] ronaldtse commented on #93
Actually, this issue is mistaken. Our current version of `relaton-data-misc` is correct.

Look at this data:
https://github.com/ietf-tools/relaton-data-misc/blob/fcc1aae9869668935f7823724e2f74f89c07332b/data/reference.PKCS.1.1991.yaml#L22-L27

There is no publisher IETF.

@strogonoff I suspect it is the BibXML service that is adding the IETF organization. Can you please confirm?

[2022-07-22 10:34] ronaldtse commented on #93
I'm going to close this to prevent confusion.

[2022-07-22 10:34] #93 closed

[2022-07-22 10:47] #92 closed

[2022-07-22 18:41] #91 closed

[2022-07-24 14:29] ronaldtse opened #94 "Support fetching without "IETF" prefix, recognize prefxes "I-D" and "RFC" directly"
[code]

Or
[code]

Should still work.

IETF has previously indicated that "I-D"s and "RFC"s are not published by the IETF, so we should not require those prefixes.

i.e. the processor is called "Relaton-IETF", but we accept any of these patterns:
* "IETF RFC XXX"
* "RFC XXX"
* "IETF I-D XXX"
* "IETF I-D.XXX"
* "I-D XXX"

[2022-07-25 11:12] #94 closed

[2022-07-30 02:34] ronaldtse opened #95 "(URGENT) Parsing of initials in RFC data should not change dots or spacing"
As described in: https://github.com/ietf-ribose/bibxml-service/issues/238#issuecomment-1192871487

From @lbartholomew-rpc (who represents the RFC Production Center):

Specifically,
https://github.com/ietf-tools/relaton-data-rfcs/blob/4e97527a6364853c3208d5ef10be62393cc8f969/data/RFC4872.yaml#L26-L50

Originated from `rfc-index.xml`:
[code]

In the initials, we need to keep the original formatting

[2022-07-30 12:25] andrew2net commented on #95
@ronaldtse  does it need to keep initials with periods if they have periods in source?

[2022-07-30 12:32] ronaldtse commented on #95
@andrew2net yes. We need to keep initials with periods if they exist.

[2022-07-31 11:49] #95 closed

[2022-08-02 09:10] strogonoff opened #96 "Relations on rfcsubseries have malformed RFC IDs"
For example, here the relation says that there is a bibliographic item with primary docid equal to `RFC0791`:

https://github.com/ietf-tools/relaton-data-rfcsubseries/blob/78ea2b3ecf3b357d30038a6f38fdbbf9b03b9e85/data/STD0005.yaml#L26-L86

However, the bibliographic item has primary docid `RFC 791`:

https://github.com/ietf-tools/relaton-data-rfcs/blob/main/data/RFC0791.yaml#L11-L14

This seems to

[2022-08-02 10:41] andrew2net commented on #96
@strogonoff it seems I confused docids and references/filenames. It is obvious the identifiers should be with space after RFC and without leading zeros in a number. I'll fix it.

[2022-08-02 13:31] strogonoff commented on #96
Thanks for quick fix!

[2022-08-02 15:28] strogonoff commented on #87
1. Should we introduce an IETF RFC-specific property that contains the anchor? Similar to how 3GPP has special `release.project_end` and similar keys, we could have a special `bibxml.anchor` key or similar. (After that, it’d be safe to drop `docid` with type=anchor, because no data would be lost.) cc @ronaldtse
2. Currently, docid with type=anchor seems incorrect. For example, it’s RFC4 [here](htt

[2022-08-02 15:31] strogonoff commented on #87
I feel like we could put anchors in `docnumber`, but I suspect there’s a semantic difference between a `docnumber` and `anchor`… I’m not sure.

[2022-08-03 11:11] andrew2net commented on #87
1. @strogonoff since we started fetching documents from the https://www.rfc-editor.org/rfc-index.xml dataset, which isn't in a BibXML forma and doesn't contain anchors, we can remove anchors from the relaton-data-rfcs without any problem.
2. We still have a BibXML parser. I don't know who uses it, and does it need to reproduce the anchors in the Relaton's BibXML output? cc @ronaldtse

[2022-08-03 11:20] strogonoff commented on #87
@andrew2net Interesting:

Maybe this is why the anchor has changed?

[2022-08-03 12:00] andrew2net commented on #87
@strogonoff yes, it's definitely so.
BTW we still parse BibXML to create documents for relaton-data-ids, so the IDs still have anchors.

[2022-08-03 13:54] ronaldtse commented on #87
I think the answers have all been answered here.

As for:

@strogonoff we can strip off the original anchors on the bibitems sourced from the datatracker -- these are the only ones that provide anchors.

[2022-08-04 10:15] andrew2net commented on #87
@strogonoff @ronaldtse can we close this issue?

[2022-08-04 17:38] ronaldtse commented on #87
@andrew2net I'm still hoping we can get rid of the anchors in the Relaton data. @strogonoff can we?

[2022-08-10 23:17] ronaldtse opened #97 "(URGENT) "day" of publishing not always parsed correctly"
Originally reported at:
* https://github.com/ietf-tools/bibxml-service/issues/265

Reported also at:
* https://github.com/ietf-tools/relaton-data-ids/issues/22

This is a bug in the Relaton BibXML parsing code. The data source is not parsing the "day" correctly:

https://github.com/ietf-tools/relaton-data-ids/blob/a2d55f1d00fd38720fcdf9d4383f2054a96be10d/data/draft-ietf-core-oscore-groupcomm-14.ya

[2022-08-11 16:06] andrew2net commented on #97
fixed in relaton-bib v 1.12.6
https://github.com/relaton/relaton-data-ids/blob/5a629ce8eb31f868ca8049e7ffa98524978e9c06/data/draft-ietf-core-oscore-groupcomm-14.yaml#L24

[2022-08-11 16:06] #97 closed

[2022-08-12 02:17] ronaldtse commented on #97
Thanks @andrew2net !

[2022-08-14 18:20] ronaldtse opened #98 "Citation formats for IETF published documents"
In a discussion with IETF and the IAB we have come up with the following citation guidance that complies with ISO 690.

We need to make sure that our Relaton-IETF data model supports all these metadata elements.

## Citing RFCs

### RFCs from IAB

"RFC SERIES. RFC 8128, IETF Appointment Procedures for the ICANN Root Zone Evolution Review Committee. MORGAN, C. Internet Architecture Board. RFC Publi

[2022-08-14 18:21] ronaldtse commented on #98
Once this is done we will need to update relaton-render.

[2022-08-15 18:18] ronaldtse opened #99 "(URGENT) Adopt new name model in Relaton for IETF documents"
Due to:
* https://github.com/ietf-tools/bibxml-service/issues/238
* https://github.com/ietf-tools/bibxml-service/issues/264

The situation:
1. The authoritative data from rfc-editor.org contains only the full name (i.e. "S. Bradner" here). The BibXML service is required to parse this single string into the `fullname` and `initials` attributes.
2. It is up to the XML RFC format on what goes into th

[2022-08-16 03:18] opoudjis commented on #99
Whatever I do, it will NOT follow that YAML. That YAML breaks backward compatibility.

[2022-08-16 04:09] ronaldtse commented on #99
Whatever you propose, please make sure it satisfies the requirements.

[2022-08-16 10:01] opoudjis commented on #99
The grammar currently is:

`( prefix*, forename*, initial*, surname, addition* ) | completeName`

Where `initial` is, as above, an individual initial letter, but which has been used rather loosely to date.

This shall become:

`( prefix*, forename*, initial*, formatted-initials?, surname, addition* ) | completeName`

Where `formatted-initials` takes the place of "initials" above.

[2022-08-16 10:25] andrew2net commented on #99
@ronaldtse @ronaldtse looks good to me

[2022-08-16 12:06] andrew2net commented on #99
@ronaldtse @opoudjis  there is a problem: the `initial` element is a `LocalizedString` object, which can have attributes and is rendered as:
[code]
if we put initials into YAML as:
[code]
we will lose the attributes. We should use this schema:
[code]
or change the type of `initial` to `String`.

[2022-08-16 12:13] opoudjis commented on #99
No. Initials can be dropped or not given for all forenames, and we do need initials to be traced to forenames, for scenarios such as complete first name, initial for middle name. So we will make initial be an attribute of forename, which is a breaking change.

[code]

[2022-08-16 12:15] opoudjis commented on #99
You're right. The initial is no longer a localised string: we're introducing too much complexity already for an edge case (because the real way to handle any complexity in initials is formatted-initials. They become strings.

[2022-08-16 13:09] ronaldtse commented on #99
Thank you guys. The model changes have been made by @opoudjis here:
https://github.com/relaton/relaton-models/pull/42

@strogonoff @stefanomunarini needs to know the upcoming change of the Relaton format for IETF for relaton-py. Task filed at: https://github.com/relaton/relaton-py/issues/39

[2022-08-16 15:00] andrew2net commented on #99
@opoudjis we do not always have a forename. It's possible that we only have surname and initials. How can we use the forename's attribute to store an initial if we don't have mandatory content?

[2022-08-16 15:02] opoudjis commented on #99
... We are going to use formatted-initials in that case. And actually... in the hypothetical you suggest, we could always mark it up as `<forename initial="B"/>`

[2022-08-16 15:41] andrew2net commented on #99
@ronaldtse so the YAML will be:
[code]
In case language and scrip are not given for `initials`, `initial`, `surname`, and `completename` they are just String.
Is it ok?

[2022-08-16 16:40] ronaldtse commented on #99
I thought we are using the `formatted-initials` name? (I omitted `language` and `script` for simplicity)

[code]

[2022-08-17 11:43] andrew2net commented on #99
@ronaldtse yes, you are right, we using `formatted-initials`
And I asked about using string, not object if `initial`, `language`, and `script` aren't given. For example:
[code]
The localizedString is used a lot across the Relaton model. In many cases, we don't have data for `language` and `script` attributes, so the YAML output is polluted with `content` keys.

[2022-08-17 14:02] ronaldtse commented on #99
I think it's fine but @strogonoff @stefanomunarini may complain about parsing a non-normalized representation.

[2022-08-18 08:57] ronaldtse commented on #99
@andrew2net to facilitate moving forward, can we just normalize using the object style, and we can implement compatibility with a string value? As long as the bibxml-service can consume the data easily. Thanks.

[2022-08-24 07:32] ronaldtse commented on #99
@andrew2net is this completed? Thanks.

[2022-08-24 09:49] andrew2net commented on #99
@ronaldtse it is

[2022-08-24 10:16] #99 closed

[2022-08-24 10:16] ronaldtse commented on #99
Thanks @andrew2net !

[2022-08-25 02:30] strogonoff commented on #99
Thanks @ronaldtse. This would have to be a separate issue concerning relaton-py.

- Might be worth pinging @stefanomunarini on such issues in future. Stefano took charge over BibXML service while I had availability issues earlier this month, and it turns out both of us ended up missing this update.
  -  Or perhaps we could create a role/team for BibXML service maintainers (which would be me and St

[2022-08-25 03:31] ronaldtse commented on #99
@andrew2net @strogonoff I am NOT seeing the changes in initials in the https://github.com/ietf-tools/relaton-data-rfcs repo:

<img width="690" alt="Screen Shot 2022-08-25 at 11 31 19 AM" src="https://user-images.githubusercontent.com/11865/186568297-28034b07-c414-41fc-bfc5-8e961d6d7051.png">

Simply speaking -- NO data structure changes has occurred. What is going on?

[2022-08-25 03:48] strogonoff commented on #99
@ronaldtse  I didn’t inspect source data. I _assumed_ it changed or is about to be changed based on 1) the fact that this ticket was closed, and 2) this snippet in description that implies a change in data structure:

[code]

I believe it’s possible that Andrew made relevant changes but simply didn’t release a new gem version yet, or the GHA didn’t have a chance to run yet.

[2022-08-25 04:01] ronaldtse commented on #99
The current situation is that the relaton/relaton-data-rfcs repo has been updated with the new structure (ping @stefanomunarini )

https://github.com/relaton/relaton-data-rfcs/blob/5ffbad3cc0cf28310b3f08abd592368b4faff27d/data/RFC4872.yaml#L22-L50

However, the ietf-tools repo has not been updated the same way.

We need to update relaton-py to support this new structure first.

[2022-08-25 04:01] ronaldtse commented on #99
This also indicates that we need to lock the ietf-tools/relaton-data-* repos with regards to relaton versions.

[2022-08-25 05:04] strogonoff commented on #99
@ronaldtse  Yes, as mentioned elsewhere I discussed this with Kesara today and want to discuss some changes about how we handle these updates, and loop in Andrew.

[2022-08-25 05:05] strogonoff commented on #99
It’s less about locking them and more about pinning gems by major versions and disciplined breaking change handling on behalf of the maintainers.

[2022-08-25 08:29] andrew2net commented on #99
@strogonoff if we need to lock the gem version we can do it by adding `-v 1.12.1` to the `gem install relaton-cli` command in the GHA [workflow](https://github.com/relaton/relaton-data-rfcs/blob/5ffbad3cc0cf28310b3f08abd592368b4faff27d/.github/workflows/fetcher.yml#L22).
I can downgrade the version for `realton/relaton-data-*` repos if we need it, but I don't have permission to do it for `ietf-too

[2022-08-26 01:06] ronaldtse commented on #99
As per discussion with @strogonoff , we need to both pin the gem versions specified using the minor version, and also mark the schema version the datasets. This also means we should version the schema itself that is supported by the gem.

* [ ] Pin gem versions for all relaton-data-* repos in relaton and ietf-tools
* [ ] Version the YAML and XML Relaton schemas in a new repository
* [ ] Relaton ge

[2022-08-28 07:40] strogonoff commented on #99
@ronaldtse

Just a couple of notes

I don’t think this is what we discussed. All that’s needed to avoid breaking a consumer is that we avoid schema changes between minor versions (Andrew said this is how things work already), and that consumer pins generating gems by minor version.

This is the important part, at least for ietf-tools repos that are  used by bibxml-service (where it’s Kesara’s job,

[2022-08-30 09:04] strogonoff opened #100 "Order of forename and initials?"
Having seen this example:

[code]

I have a question about the order of formatted initials and the name. `formatted_initials` field isn’t part of an array, so it’s unclear whether initials go before or after `forename`.

For example, with names such as “Arthur C. Clarke” or “Iain M. Banks”, it’s clear that `formatted_initials` go _after_ `forename`. However, there are names where initials could eq

[2022-08-30 09:24] ronaldtse commented on #100
Formatted initials means the initials of the given names, ie. Excluding surnames. Notice that the formatted initials are at the level of “given”, i.e. it is a rendering that covers the full set of “given” names.

The examples given above using formatted initials will be “A.C.” With surname “Clarke”. It is up to the renderer to decide whether the order is “formatted initials” then “surname” (“A.C.

[2022-08-31 08:13] strogonoff commented on #100
I see. So preserving full name exactly as provided can only be done via `completename`. Otherwise, it’s up to renderer.

[2022-08-31 08:15] strogonoff commented on #100
@ronaldtse so it means, a `forename` can have both `content` and `initial` or either, but it cannot be lacking both?

[2022-08-31 08:25] ronaldtse commented on #100
@strogonoff Right. A forename that does not have `content` or `initial` does not seem useful?

[2022-09-14 16:33] ronaldtse opened #101 "When IAB and IESG are listed as authors, keep them as authors, not organizations"
As per https://github.com/ietf-tools/bibxml-service/issues/296 from @ajeanmahoney:

(This report should not be confused with #262, which is an issue with a different library)

For 35 RFCs in the IAB Stream, the Internet Architecture Board is listed as an _author_ (not an organization). (Note that the IAB no longer lists itself as an author in its RFCs, so this issue only impacts a subset of older

[2022-09-15 09:39] ronaldtse commented on #101
@andrew2net this means we just don't process them as organizations or extract initials:
* "IAB"
* "Internet Architecture Board"
* "IAB and IESG"
* "IAB Advisory Committee"
* "IESG"
* "Internet Engineering Steering Group"

[2022-09-15 09:49] ronaldtse commented on #101
Actually see: https://github.com/ietf-tools/bibxml-service/issues/296#issuecomment-1247861503

[2022-09-20 21:29] andrew2net commented on #101
The contributor with description ["BibXML author"](https://github.com/relaton/relaton-data-rfcs/blob/c834e5221db03722dc45bad71ad1644e8bdca983/data/RFC4089.yaml#L47-L53) now rendered in BibXML output as:
[code]

[2022-09-20 21:29] #101 closed

[2022-09-21 04:36] ronaldtse commented on #101
@andrew2net can I confirm that relaton-data-ietf has been updated as such? Where is this implemented?

1. relaton-ietf conversion of rfc-index.xml into relaton-data-ietf
2. conversion of relaton-data-ietf into bibxml?

[2022-09-21 16:20] andrew2net commented on #101
@ronaldtse we don't use the relaton-data-ietf anymore. The relator-data-rfcs has been updated.
It's implemented:
1. In relaton-ietf v 1.13.2 conversion of rfc-index.xml into relaton-data-ietf. Certain author names are parsed as [organizations](https://github.com/ietf-tools/relaton-data-rfcs/blob/1263cfc0f52b01ead62c2d0861cacd92b859e4e8/data/RFC4089.yaml#L47-L53) and description "BibXML author" is

[2022-09-29 12:20] opoudjis commented on #98
ISO 690 insists on the contributor hierarchy:

author, editor, translator, publisher, distributor.

"RFC SERIES. RFC 8128, IETF Appointment Procedures for the ICANN Root Zone Evolution Review Committee. MORGAN, C. Internet Architecture Board. RFC Publisher, March 2017."

In this,

* Morgan, C. is the personal author.
* RFC Series, as the standards body, is the distributor (sponsoring body, which i

[2022-10-04 17:52] ronaldtse commented on #98
@opoudjis In ISO 690, sponsors always appear after the publisher, so the proposed solution 4 will not work.

Have you considered the following?

1. "RFC Series" is the "name of the standardization organization" (ISO 690 8.11.4.1). This element always appears first in a "Standards" citation in ISO 690.
2. The "Title" and "Reference number" are the next elements.
3. The personal authors are consider

[2022-10-05 14:42] opoudjis commented on #98
"name of the standardization organization"  is meaningless in Relaton, and indeed in ISO 690. Contributors MUST, no exception, no excuse, no folderol, have a role as one of: author, editor, translator, publisher, distributor. At the time of authoring ISO 690, I assumed the SDO was the publisher. IETF have decided that there is a distinct publisher. Therefore the SDO becomes the distributor.

I can

[2022-10-05 14:43] opoudjis commented on #98
What I have said to @andrew2net to model in Relaton does not change at all. But this does have an impact on relaton-render as well as on ISO 690.

[2022-10-05 15:59] opoudjis commented on #98
Extensive productive discussion. Pan-out is still `/contributor[@type = "distributor"]/organization/name = RFC Series`, but let's define it explicitly in description. @ronaldtse, `/contributor[@type = "distributor"][description = 'issuing body]`, `/contributor[@type = "distributor"][description = 'authorising body]`?

[2022-10-10 15:32] ronaldtse opened #102 "Treating RFC organization authors as organizations"
As per https://github.com/ietf-tools/bibxml-service/issues/296#issuecomment-1273389794 request from the RPC, we are to distinguish the three classes of authors.

We will revert the change that introduced this:
- https://github.com/ietf-tools/relaton-data-rfcs/blob/742e255da9bdcec26907124a9660be2109fa8758/data/RFC3716.yaml#L25-L28

[code]

## Type 1: Personal authors

No affiliation:
[code]

[code]

[2022-10-10 15:54] ronaldtse commented on #100
Is this issue done? Can we close it @strogonoff ?

[2022-10-13 02:09] ronaldtse opened #103 "Test cases for RFC XML authorship conversion (input: `rfc-index.xml`)"
The previous `xml2rfc-bibxml` tools provide a set of expectations on the authorship conversions from `rfc-index.xml` as mentioned by @rjsparks:

https://github.com/ietf-tools/bibxml-service/issues/296#issuecomment-1275227694

We should integrate these test cases from `rfc-index.xml` and their expected outputs in the rspec, in terms of:
* `rfc-index.xml` conversion to Relaton model (or Relaton YAML

[2022-10-13 16:26] strogonoff opened #104 "BCP0113 is missing?"
This is 404: https://github.com/ietf-tools/relaton-data-rfcsubseries/blob/main/data/BCP0113.yaml

However, this exists: https://github.com/ietf-tools/bibxml-data-archive/blob/main/bibxml9/reference.BCP.0113.xml

This means BibXML service URL /public/rfc/bibxml9/reference.BCP.0113.xml uses fallback.

Maybe this was raised before, let me know if so…

cc @ronaldtse @andrew2net

[2022-10-13 16:40] andrew2net commented on #104
@strogonoff the source dataset for relaton-data-rfcsubseries is https://www.rfc-editor.org/rfc-index.xml and it doesn't contain any document with BCP0113 identifier

[2022-10-13 16:48] strogonoff commented on #104
Hmm. Should we raise an issue with IETF @ronaldtse?

[2022-10-13 19:45] strogonoff opened #105 "Inconsistent role structure"
See this example:

https://github.com/ietf-tools/relaton-data-rfcs/blob/6a93fd877de9e81958d1560410a0e3035b46bbd9/data/RFC4052.yaml#L21-L53

`role` is specified as a string for the first contributor, and as an object for the second.

`relaton-py` expects a string. According to the spec, it should be an object. We’ll up-convert the string to an object on BibXML service’s side before `relaton-py` is

[2022-10-13 20:16] strogonoff commented on #105
NB: `relaton-py` updated its definition of roles in https://github.com/relaton/relaton-py/commit/19b697a06798772c23ae0e6326b990addaeb8050, BibXML service will upconvert the role to this model if it’s a string.

[2022-10-13 20:25] ronaldtse commented on #105
@strogonoff this particular issue will go away when #103 is implemented.

[2022-10-13 20:26] ronaldtse commented on #105
Actually:

This is a structural inconsistency and should be addressed here.

[2022-10-13 20:27] ronaldtse commented on #104
@strogonoff No, we have been here before -- not all RFC numbers or BCP numbers are assigned.

[2022-10-13 20:27] ronaldtse commented on #104
@strogonoff @andrew2net yes you are right here. There is no BCP0113 in `rfc-index.xml`. I will contact the RPC.

[2022-10-13 23:23] strogonoff opened #106 "`formatted_initials` without content"
So far noticed only in [draft-andersen-arc-01.yaml](https://github.com/ietf-tools/relaton-data-ids/blob/d082fe965553b16e509ed8007d712f39a1a8d2cf/data/draft-andersen-arc-01.yaml#L27-L39).

[2022-10-14 02:35] ronaldtse commented on #106
There's not even a name inside this block:
[code]

[2022-10-14 02:40] ronaldtse commented on #106
The root cause is this:

In the original RFC XML, there is an "author" that is an organization, not a person:
https://www.ietf.org/archive/id/draft-andersen-arc-01.xml

[code]

There is no way for us to tell this is not a person, because it has `initials` and `surname`.

Can I propose the correct outcome to be the following?
[code]

Adjustments welcome.

[2022-10-14 02:47] ronaldtse commented on #104
Raised.

[2022-10-14 14:30] strogonoff commented on #106
@ronaldtse I did raise the issue only about the schema deliberately. Schema mismatch may break data loaders/deserializers (also raises the question as to how did this pass through serialization mechanism without failures, apparently some code doesn’t validate that `formatted_initials` is a valid formatted string?)

Unlike the schema, the issue with the _data_ is separate, it doesn’t break anything

[2022-10-14 14:34] ronaldtse commented on #106
@strogonoff could you re-read my original message? There is some misunderstanding here. This question makes no sense. The fullstop is from original data.

[2022-10-15 00:30] andrew2net commented on #103
@ronaldtse I see what we need to test person fullnames parsing, right?
But what should we test against the list of organizations?

[2022-10-15 02:03] ronaldtse commented on #103
@andrew2net for organizations, we want to ensure that they are indeed encoded as organizations.

[2022-10-15 02:13] andrew2net commented on #103
@ronaldtse if you mean the case when the organizations are represented as `aouthor[@fullname]` then the list of organizations doesn't include names from the issue https://github.com/relaton/relaton-ietf/issues/101#issuecomment-1247849853

[2022-10-15 02:23] ronaldtse commented on #103
For example, I want to ensure that we have these tests:

1. When parsing rfc-index.xml entry RFC0806, Relaton will treat the author as an organization author of "National Bureau of Standards".

2. When generating BibXML output, the RFC 0806 author will be encoded as:

[code]

[2022-10-16 14:55] andrew2net commented on #103
@ronaldtse does the example mean that an `author[@fullname]` attribute can contain 2 names and we need to transform the 2 names into 2 author elements?

[2022-10-18 03:23] ronaldtse commented on #102
This task is ready to be done.

[2022-10-18 03:23] ronaldtse commented on #103
(This is relevant to #102)

[2022-10-18 03:24] ronaldtse commented on #103
This is very strange. Perhaps it's a bug at the RPC. Let me find out.

[2022-10-18 03:25] ronaldtse commented on #103
I've checked `rfc-index.xml`. The current encoding is correct and nothing special should be done for it:

[code]

[2022-10-18 16:59] #103 closed

[2022-10-18 22:42] andrew2net commented on #102
@ronaldtse some items of the "List to categorize" are missing in the [test cases](https://github.com/relaton/relaton-ietf/issues/103#issue-1407026136). Should we add test cases for them?

[2022-10-19 01:36] ronaldtse opened #107 "(URGENT) Structural discrepancies in Relaton-IETF data files"
From https://github.com/relaton/relaton/issues/108

There are structural discrepancies reported by @strogonoff.

[2022-10-19 01:37] ronaldtse commented on #107
This also:

[2022-10-19 02:07] ronaldtse commented on #102
@andrew2net yes please, that would be helpful. Thanks!

[2022-10-20 00:48] ronaldtse commented on #102
@andrew2net as per https://github.com/ietf-tools/bibxml-service/issues/296#issuecomment-1284138158 by @ajeanmahoney, the "RFC Editor, et al." author should also be handled as an organization:

[code]

and the corresponding BibXML becomes:

[code]

Thanks!

[2022-10-20 23:40] andrew2net commented on #102
Fixed in v 1.13.5. Here are the BibXML test outputs https://github.com/relaton/relaton-bib/blob/main/spec/examples/rfc.xml

[2022-10-21 02:15] ronaldtse commented on #102
Thanks @andrew2net, I can see it is addressed here: https://github.com/relaton/relaton-ietf/commit/f4865fa7c0be53253aa3aabc808ea65afaaf7f05

[2022-10-21 02:15] #102 closed

[2022-10-23 18:00] andrew2net commented on #107
@ronaldtse as per https://github.com/relaton/relaton-ietf/issues/99#issuecomment-1216885154 the `forename` element can have `initial` only, without `content`.

[2022-10-24 19:16] #107 closed

[2022-10-26 01:06] ronaldtse commented on #98
As per: https://github.com/metanorma/iso-690/issues/20#issuecomment-1268617639

In the case of the RFCs:
* authorizing body: "RFC Series"
* publisher: "RFC Publisher"

Are you trying to differentiate 'issuing body' vs 'authorizing body'? Don't understand your question.

[2022-10-26 09:21] opoudjis commented on #98
No, I was asking which of the two we use.

OK, @andrew2net, this is now actionable. Let me know when you're done with this, so I can trigger  https://github.com/relaton/relaton-render/issues/28

[2022-10-26 09:58] ronaldtse commented on #98
[code]

I'm not convinced that:
1. The authorizing body is encoded as a "description".
2. That we should reuse 'type = distributor'

Why not make it a new contributor type?

[2022-10-26 11:02] opoudjis commented on #98
@andrew2net not yet actionable.

[2022-10-26 13:24] ronaldtse opened #108 "BibXML output: IANA references should not contain dates"
See https://github.com/ietf-tools/bibxml-service/issues/312 .

In accordance with https://www.rfc-editor.org/styleguide/part2/#ref_iana_reg , the BibXML output shall not have any date.

Current:
[code]

Should be:
Current:
[code]

(There is no change to Relaton data)

[2022-10-26 19:48] strogonoff commented on #108
Is this gem responsible for generating XML? Because if we are talking about BibXML service, this will certainly be addressed in relaton-py, in `relaton.serializers.bibxml` function.

[2022-10-27 02:45] ronaldtse commented on #108
Yes. Metanorma uses Relaton-IETF to generate BibXML to be used within RFC XML.

This is separate from the BibXML Service.

[2022-10-27 05:45] ronaldtse opened #109 "(URGENT) Wrong initials for "Julian F. Reschke""
From https://github.com/ietf-tools/bibxml-service/issues/315

Case 1:
https://github.com/relaton/relaton-data-ids/blob/f858737953940aeeae36fb483a73cbcb4aa14a85/data/draft-iab-xml2rfcv2-02.yaml#L25-L44

Case 2:
See also https://bib.ietf.org/public/rfc/bibxml3/reference.I-D.levkowetz-xml2rfc-v3-implementation-notes.xml
where it claims `<author fullname="Henrik Levkowetz" surname="Henrik Levkowetz">`

[2022-10-28 13:36] strogonoff opened #110 "Incorrect surname parsing?"
In this bibliographic item, surname contains the complete name: https://github.com/ietf-tools/relaton-data-ids/blob/master/data/draft-levkowetz-xml2rfc-v3-implementation-notes-13.yaml#L26-L41

(https://github.com/ietf-tools/bibxml-service/issues/315)

[2022-10-28 13:37] strogonoff commented on #110
Duplicate of https://github.com/relaton/relaton-ietf/issues/109.

[2022-10-28 13:37] #110 closed

[2022-10-28 13:38] strogonoff commented on #109
I think a more correct title/description would be that surname/forename are parsed incorrectly, this seems to describe the entire problem. Don’t see issues with initials per se.

[2022-10-30 12:52] andrew2net commented on #109
fixed in v 1.13.6
https://github.com/relaton/relaton-data-ids/blob/cf393c63696d3bb987a0647246ee0ef9a898437d/data/draft-iab-xml2rfcv2-02.yaml#L25-L47
https://github.com/relaton/relaton-data-ids/blob/cf393c63696d3bb987a0647246ee0ef9a898437d/data/draft-levkowetz-xml2rfc-v3-implementation-notes-13.yaml#L27-L40

[2022-10-30 21:04] andrew2net commented on #108
@ronaldtse do we need to implement this behavior in this gem or in the relaton-iana?

If we need to implement it in this gem then I have the following question:
This gem creates doc identifiers with types `RFC` (for RFC, BCP, FYI, and STD docs), `Internet-Draft` (for I-D docs), or `IETF` (for the rest of the documents). So we don't know if a type of document is IANA or not. Should this gem create

[2022-10-30 21:27] andrew2net commented on #106
@ronaldtse we use the command `rsync -avcizxL rsync.ietf.org::bibxml-ids ./bibxml-ids` to get source files. The content of the `reference.I-D.draft-andersen-arc-01.xml` source file is:
[code]

[2022-11-01 16:34] opoudjis commented on #98
@andrew2net Actionable:

`/contributor[@type = "authorizer"]/organization/name = RFC Series`

[2022-11-02 13:45] ronaldtse commented on #98
OK

[2022-11-04 04:01] ronaldtse commented on #108
1. I want relaton-data-iana to contain the dates.
2. Only when in BibXML format, the IANA references do not have dates. The relaton-ietf gem generates BibXML format. Right?

[2022-11-05 02:51] andrew2net commented on #108
Actually No. The relaton-bib generates and parses BibXML, but flavor gems can override some methods.
So there are 3 options:
- Fix the issue in the relaton-bib. In this case, any IANA bibliographic item will produce BibXML without date.
- Fix this issue in the relaton-ietf gem. In this case only IANA items processed by the relaton-ietf will be without date.
- Fix this issue in the relaton-iana gem

[2022-11-09 06:04] CAMOBAP opened #111 "`parse_surname_initials': undefined method `match' for nil:NilClass (NoMethodError)"
[code]

Full log available here https://github.com/metanorma/packed-mn/actions/runs/3422206288/jobs/5700207817#step:10:78

P.S. on Windows there is a bit different error, but looks like root is the same:

<details>
    <summary>relaton_bib/contributor.rb:22:in `initialize': Either formatted address or city and country must be provided (ArgumentError)</summary>

[code]
[code]

[2022-11-09 12:29] ronaldtse commented on #108
@andrew2net I think the first one is the best:

[2022-11-09 19:45] andrew2net commented on #111
Fixed in v 1.13.7

[2022-11-09 20:44] CAMOBAP commented on #111
@andrew2net should I report a separate ticket for `lib/relaton_bib/contributor.rb:22:in `initialize': Either formatted address or city and country must be provided (ArgumentError)`?

[2022-11-09 23:06] andrew2net commented on #111
@CAMOBAP Ah, sorry I didn't notice the Windows issue.
The log says that a city or country is not provided. We should either drop invalid addresses or relax the restriction. But I wonder why this happens only in Windows.
Could you provide the source document that caused the error?

[2022-11-09 23:47] andrew2net commented on #111
@CAMOBAP just, for now, I've updated the BibXML parser to drop addresses if they don't have city and country. Please update the relaton-bib to v 1.13.14.
If you provide a document that causes the ArgumentError then I can investigate what happens.

[2022-11-09 23:47] #111 closed

[2022-11-15 05:22] andrew2net commented on #98
fixed in v 1.13.8
https://github.com/relaton/relaton-data-rfcs/blob/181eb36380728bd6570fac3383db20afce628069/data/RFC0001.yaml#L51-L60

[2022-11-15 05:22] #98 closed

[2022-11-15 23:51] andrew2net commented on #108
fixed in v 1.13.9

[2022-11-15 23:51] #108 closed

[2022-11-17 20:50] rjsparks commented on #98
This went wrong for us - publisher is not really welcome here - see https://github.com/ietf-tools/bibxml-service/issues/321

[2022-11-18 03:04] ronaldtse opened #112 "Handling the 'publisher' in BibXML"
From @rjsparks:

This went wrong for us - publisher is not really welcome here - see https://github.com/ietf-tools/bibxml-service/issues/321

_Originally posted by @rjsparks in https://github.com/relaton/relaton-ietf/issues/98#issuecomment-1319184508_

Originally from @ajeanmahoney at https://github.com/ietf-tools/bibxml-service/issues/321

The addition of the following <author> information to RFC

[2022-11-18 07:20] ronaldtse commented on #112
This has been implemented by @andrew2net at c19a572acd5f63d3ceb61405667dcbf2cbc5e4d7 . Thanks!

[2022-11-23 02:13] ronaldtse commented on #109
The resulting data is incorrect as reported in https://github.com/ietf-tools/bibxml-service/issues/315#issuecomment-1324327678

These entries are directly obtained from Datatracker, and we should follow the name structures provided:

From:
https://datatracker.ietf.org/doc/bibxml3/reference.I-D.iab-xml2rfcv2.xml
[code]
=>
[code]

[2022-11-23 04:57] andrew2net commented on #109
@ronaldtse the source dataset (file `reference.I-D.draft-iab-xml2rfcv2-02.xml`) has a different content:
[code]

[2022-11-23 05:59] ronaldtse commented on #109
Thanks @andrew2net , I will report.

[2022-11-24 01:16] ronaldtse commented on #109
As per @rjsparks https://github.com/ietf-tools/bibxml-service/issues/315#issuecomment-1325489281 , the rsync backing store has been fixed.

As per https://github.com/ietf-tools/bibxml-service/issues/315#issuecomment-1325826750 , the BibXML output of a round trip (datatracker => relaton-ietf => bibxml) should be identical.

Can you please add a spec (for this case) so that we know all author inform